{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
      <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
        <p>{% trans "You have already sign in!" %}</p>
      </div>
  {% else %}
    <div class="container">
        <div class="row show-grid">
          <div class="well span4 offset4" style="width:220px;">
            <h2>{% trans "Log In" %}</h2>
            <hr>
            <form action="/admin/" method="post">
              {{ form }}
              <hr>
              <input name="next" id="next" type="hidden" value="/dashboard/">
              <input type="submit" class="btn btn-primary pull-right" value="{% trans "Sign in" %}">
            </form>
          </div>
        </div>
  {% endif %}
{% endblock %}