table#sortTable th {
    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table#sortTable thead tr .headerSortUp {
    background-image: url('../img/asc.gif');
}

table#sortTable thead tr .headerSortDown {
    background-image: url('../img/desc.gif');
}