{% extends "base.html" %}
{% block content %}
    <div class="pull-right">
      <a href="/setup">Host Server Setup</a>
    </div>
    <h2>Dashboard</h2>
    <hr>
    {% if errors %}
      {% for error in errors %}
        <div class="span6 alert alert-block alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <a data-toggle="modal" href="#myModal" class="btn btn-success">Add Connection</a>
    {% if host_info %}
    <a href="/clusters/" class="btn btn-success">Infrastrusture</a>
    {% else %}
    <a href="/clusters/" class="btn btn-success disabled">Infrastrusture</a>
    {% endif %}
    <br><br>
    {% if host_info %}
    <div class="span8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Hostname</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in host_info.items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ value.1 }} (<strong>{{ key }}</strong>)</td>
            <td>{% ifequal value.2 1 %}<font color="green">connected</font>{% else %}<font color="red">not connected ({{ value.2 }})</font>{% endifequal %}</td>
            <td style="width: 80px;">
              {% ifequal value.2 1 %}
              <div class="btn-group">
                <button class="btn btn-success" onclick="location.href='/overview/{{ value.0 }}/'">Overview</button>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/newvm/{{ value.0 }}/">Create VM</a></li>
                  <li><a href="/storage/{{ value.0 }}/">Storage Pool</a></li>
                  <li><a href="/network/{{ value.0 }}/">Network Pool</a></li>
                  <li><a href="/snapshot/{{ value.0 }}/">Snapshots</a></li>
                </ul>
              </div>
              {% else %}
              <div class="btn-group">
                <button class="btn btn-success disabled">Overview</button>
                <button class="btn btn-success dropdown-toggle disabled" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
              </div>
              {% endifequal %}
            </td>
            <td style="width: 70px;">
              <form action="/dashboard/" method="post" style="height:10px;">{% csrf_token %}
                <input type="hidden" name="host_id" value="{{ value.0 }}">
                <button type="submit" class="btn btn-danger" name="del_host" title="Delete" onclick="return confirm('Are you sure?')">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h4>You have no connection</h4>
        <br>
      {% endif %}
      <div id="myModal" class="modal hide fade">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
              <h3>Add new host sever</h3>
          </div>
       <div class="modal-body">
          <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <fieldset>
              <div class="control-group">
              <label class="control-label">Name</label>
                <div class="controls">
                  <input type="text" name="hostname" class="input-large focused" placeholder="Name">
                </div>
               </div>
              <div class="control-group">
              <label class="control-label">Hostname</label>
                <div class="controls">
                  <input type="text" name="ipaddr" class="input-large" placeholder="IP or Domain">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">KVM login</label>
                <div class="controls">
                  <input type="text" name="kvm_login" class="input-large" placeholder="login">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">KVM password</label>
                <div class="controls">
                  <input type="password" name="kvm_passwd" class="input-large" placeholder="******">
                </div>
              </div>
              </fieldset>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
              <input type="submit" class="btn btn-success" name="add_host" value="Add">
           </form>
          </div>
        </div>
      </div>
{% endblock %}
