{% extends "base.html" %}
{% block title %}Virtual Network{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Server Settings</li>
                <li><a href="/overview/{{ host_id }}/"><i class="icon-info-sign"></i> Overview</a></li>
                <li><a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i> Create VM</a></li>
                <li><a href="/storage/{{ host_id }}/"><i class="icon-folder-open"></i> Storage pool</a></li>
                <li class="active">
                  <a href="/network/{{ host_id }}/"><i class="icon-signal"></i> Network pool</a>
                </li>
                <li><a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i> Snapshots</a></li>
                <li class="nav-header">Virtual Machines</li>
                {% if not all_vm %}
                <li><a href="/newvm/{{ host_id }}"><i class="icon-plus"></i> Create VM</a></li>
                {% else %}
                  {% for vm in all_vm %}
                  <li><a href="/vm/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a></li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9 well">
            <h2>Virtual Networks</h2>
            <hr>
            <a href="#poolModal" class="btn btn-success" data-toggle="modal">Add Pool</a><br><br>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span8 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            
            {% ifequal pool 'add' %}
              {% if not errors %}
              <div class="well pagination-centered">
                <h4>You doesn’t have any virtual networks</h4>
              </div>
              {% endif %}
            {% endifequal %}

            {% if info %}
            {% if networks %}
            <div class="row-fluid">
              <div class="span5">
                <p>Pool name</p>
                <p>Device pool</p>
                <p>State</p>
              </div>
              <div class="span7">
                <p>[{% for key, value in networks.items %} {% ifequal key pool %}<b>{{ pool }}</b>{% else %}<a href="/network/{{ host_id }}/{{ key }}">{{ key }}</a>{% endifequal %}{% endfor %} ]</p>
                <p>{{ info.1 }}</p>
                <form action="/network/{{ host_id }}/{{ pool }}/" method="post" style="height:10px;">{% csrf_token %}
                  {% ifequal info.0 0 %}
                  <input type="submit" class="btn btn-primary" name="start" value="Start">
                  <input type="submit" class="btn btn-danger" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                  {% else %}
                  <input type="submit" class="btn btn-primary" name="stop" value="Stop" onclick="return confirm('Are you sure?')">
                  {% endifequal %}
                </form>
              </div>
            </div>
            <h3>IPv4 configuration</h3>
            <hr>
            <div class="row-fluid">
              <div class="span5">
                <p>Type forwarding</p>
                <p>Subnet pool</p>
                <p>DHCP</p>
                {% if ipv4_net.2 %}
                <p>Start</p>
                <p>End</p> 
                {% endif %}
              </div>
              <div class="span5">
                <p>{% ifequal ipv4_net.0.0 'nat' %} NAT {% endifequal %} {% ifequal ipv4_net.0.0 'route' %} ROUTE {% endifequal %} {% if not ipv4_net.0.0 %} ISOLATE {% endif %}</p>
                <p>{{ ipv4_net.1 }}</p>
                <p>{% if ipv4_net.2 %}<font color="green">ON</font>{% else %}<font color="red">OFF</font>{% endif %}</p>
                {% for dhcp in ipv4_net.2 %} 
                  <p>{{ dhcp }}</p>
                {% endfor %}
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->

      <div id="poolModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="poolModalLabel">Add New Network Pool</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" action="/network/{{ host_id }}/add/" method="post">{% csrf_token %}
          <fieldset><br>
            <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                <input type="text" name="name" class="input-medium focused" placeholder="default">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Subnet pool</label>
                <div class="controls">
                  <input type="text" class="input-medium"  name="net_addr" value="192.168.100.0/24">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">DHCP</label>
                <div class="controls">
                  <input type="checkbox" name="dhcp" value="1" checked>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Type forwarding</label>
                <div class="controls">
                  <select class="input-medium" name="forward"> 
                    <option value="nat">NAT</option>
                    <option value="route">ROUTE</option>
                    <option value="none">ISOLATE</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Cancel</button>
          <input class="btn btn-success" name="addpool" type="submit" value="Submit">
          </form>
        </div>
      </div> <!-- /poolModal -->
{% endblock %}
