{% extends "base.html" %}
{% block title %}Create VM{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Server Settings</li>
                <li><a href="/overview/{{ host_id }}/"><i class="icon-info-sign"></i> Overview</a></li>
                <li class="active">
                  <a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i> Create VM</a>
                </li>
                <li><a href="/storage/{{ host_id }}/"><i class="icon-folder-open"></i> Storage pool</a></li>
                <li><a href="/network/{{ host_id }}/"><i class="icon-signal"></i> Network pool</a></li>
                <li><a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i> Snapshots</a></li>
                <li class="nav-header">Virtual Machines</li>
                {% if not all_vm %}
                <li><a href="/newvm/{{ host_id }}"><i class="icon-plus"></i> Create VM</a></li>
                {% else %}
                  {% for vm in all_vm %}
                  <li><a href="/vm/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a></li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9 well">
            <h2>Create Virtual Machine</h2>
            <hr>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span8 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            <a data-toggle="modal" href="#addModalCustom" class="btn btn-success">Custom</a>
            <a data-toggle="modal" href="#addModalFlavor" class="btn btn-success">New Flavor</a>
            <br><br>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>VCPU</th>
                  <th>RAM</th>
                  <th>HDD</th>
                  <th style="width:5px;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for flavor in flavors %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ flavor.name }}</td>
                  <td>{{ flavor.vcpu }}</td>
                  <td>{{ flavor.ram }} MB</td>
                  <td>{{ flavor.hdd }} GB</td>
                  <td>
                     <div id="addModal{{ forloop.counter }}" class="modal hide fade">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="poolModalLabel">Add New Virtual Machine - {{ value.0 }}</h3>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" action="/newvm/{{ host_id }}/" method="post">{% csrf_token %}
                          <fieldset><br>
                            <div class="control-group">
                            <label class="control-label">Name</label>
                              <div class="controls">
                                <input type="text" class="input-large" name="name" placeholder="Name">
                                <input type="hidden" class="input-large" name="vcpu" value="{{ flavor.vcpu }}">
                                <input type="hidden" class="input-large" name="ram" value="{{ flavor.ram }}">
                                <input type="hidden" class="input-large" name="hdd_size" value="{{ flavor.hdd }}">
                              </div> 
                             </div>
                            <div class="control-group">
                              <label class="control-label">Storage</label>
                              <div class="controls">
                                <select name="storage">
                                  {% for storage in all_storages %}
                                  <option value="{{ storage }}">{{ storage }}</option>
                                  {% endfor %}
                                </select>
                              </div> 
                            </div>
                            <div class="control-group">
                              <label class="control-label">Network</label>
                              <div class="controls">
                                <select name="network">
                                  {% for network in all_networks %}
                                  <option value="{{ network }}">{{ network }}</option>
                                  {% endfor %}
                                  <option value="br0">br0</option>
                                </select>
                              </div> 
                            </div>
                          </fieldset>
                          </div>
                          <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                            {% if all_storages and all_networks %}
                            <input type="submit" class="btn btn-success" name="newvm" value="Submit">
                            {% else %}
                            <a href="#" class="btn btn-success disabled">Submit</a>
                            {% endif %}
                            </form>
                          </div>
                        </div>
                      <a data-toggle="modal" href="#addModal{{ forloop.counter }}" class="btn btn-success">Create</a>
                    </td>
                    <td style="width:5px;">
                      <form class="form-horizontal" action="/newvm/{{ host_id }}/" method="post" style="height:10px;">{% csrf_token %}
                        <input type="hidden" name="flavor" value="{{ flavor.id }}">
                        <input type="submit" class="btn btn-danger" name="del_flavor" value="Delete" onclick="return confirm('Are you sure?')">
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div id="addModalCustom" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="poolModalLabel">Add New Virtual Machine</h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="/newvm/{{ host_id }}/" method="post">{% csrf_token %}
                  <fieldset><br>
                    <div class="control-group">
                    <label class="control-label">Name</label>
                      <div class="controls">
                        <input type="text" class="input-large" name="name" placeholder="Name">
                      </div> 
                     </div>
                    <div class="control-group">
                      <label class="control-label">VCPU</label>
                      <div class="controls">
                        <select name="vcpu">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">RAM</label>
                      <div class="controls">
                        <select name="ram">
                          <option value="128">128 MB</option>
                          <option value="256">256 MB</option>
                          <option value="512">512 MB</option>
                          <option value="768">768 MB</option>
                          <option value="1024">1 GB</option>
                          <option value="2048">2 GB</option>
                          <option value="4096">4 GB</option>
                          <option value="8192">8 GB</option>
                          <option value="16384">16 GB</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">HDD</label>
                      <div class="controls">
                        <select name="img">
                        {% if all_img %}
                        {% for name in all_img %}
                          <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                        {% else %}
                          <option value="">None</option>
                        {% endif %}
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">Storage</label>
                      <div class="controls">
                        <select name="storage">
                          {% for storage in all_storages %}
                          <option value="{{ storage }}">{{ storage }}</option>
                          {% endfor %}
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">Network</label>
                      <div class="controls">
                        <select name="network">
                          {% for network in all_networks %}
                          <option value="{{ network }}">{{ network }}</option>
                          {% endfor %}
                          <option value="br0">br0</option>
                        </select>
                      </div> 
                    </div>
                  </fieldset>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                    {% if all_storages and all_networks %}
                    <input type="submit" class="btn btn-success" name="newvm" value="Submit">
                    {% else %}
                    <a href="#" class="btn btn-success disabled">Submit</a>
                  {% endif %}
                  </form>
                  </div>
              </div> <!-- Custom -->
            <div id="addModalFlavor" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="poolModalLabel">Add New Flavor</h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="/newvm/{{ host_id }}/" method="post">{% csrf_token %}
                  <fieldset><br>
                    <div class="control-group">
                    <label class="control-label">Name</label>
                      <div class="controls">
                        <input type="text" class="input-large" name="name" placeholder="Name">
                      </div> 
                     </div>
                    <div class="control-group">
                      <label class="control-label">VCPU</label>
                      <div class="controls">
                        <select name="vcpu">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">RAM</label>
                      <div class="controls">
                        <select name="ram">
                          <option value="128">128 MB</option>
                          <option value="256">256 MB</option>
                          <option value="512">512 MB</option>
                          <option value="768">768 MB</option>
                          <option value="1024">1 GB</option>
                          <option value="2048">2 GB</option>
                          <option value="4096">4 GB</option>
                          <option value="8192">8 GB</option>
                          <option value="16384">16 GB</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">HDD</label>
                      <div class="controls">
                        <select name="hdd">
                          {% for d in digits %}
                          <option value="{{ d }}">{{ d }} GB</option>
                          {% endfor %}
                        </select>
                      </div> 
                    </div>
                  </fieldset>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-success" name="add_flavor" value="Submit">
                  </form>
                  </div>
              </div><!-- Flavor -->
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->
{% endblock %}
