{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Server Settings</li>
                <li class="active">
                  <a href="/overview/{{ host_id }}/"><i class="icon-info-sign"></i> Overview</a>
                </li>
                <li><a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i> Create VM</a></li>
                <li><a href="/storage/{{ host_id }}/"><i class="icon-folder-open"></i> Storage pool</a></li>
                <li><a href="/network/{{ host_id }}/"><i class="icon-signal"></i> Network pool</a></li>
                <li><a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i> Snapshots</a></li>
                <li class="nav-header">Virtual Machines</li>
                {% if not all_vm %}
                <li><a href="/newvm/{{ host_id }}"><i class="icon-plus"></i> Create VM</a></li>
                {% else %}
                  {% for vm in all_vm %}
                  <li><a href="/vm/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a></li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9 well">
            <h2>Overview</h2>
            <hr>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span8 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            <div class="row-fluid">
              <div class="span5">
                <p>Hostname</p>
                <p>Architecture</p>
                <p>Processor(s)</p>
                <p>CPU utilization</p>
                <p>Memory ({{ mem_usage.0|filesizeformat }} / {{ mem_usage.1|filesizeformat }})</p>
                <p>Type connection</p>
                <p>Libvirt version</p>
              </div>
              <div class="span6">
                <p><strong>{{ host_info.0 }}</strong></p>
                <p>{{ host_info.1 }}</p>
                <p>{{ host_info.2 }} x {{ host_info.3 }}</p>
                <p>Usage: {{ cpu_usage }}%</p>
                <p>Usage: {{ mem_usage.2 }}%</p>
                <p>{{ conn_type }}</p>
                <p>{{ lib_virt_ver }}</p>
                <p>{{ sys_info }}</p>
              </div>
            </div>
            <h2>Virtual Machines</h2>
            <hr>
            {% if all_vm %}
            <table class="table">
              <thead>
                <tr>
                  <th style="width:20px;">#</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th style="width:220px;">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for vm, status in all_vm.items %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/vm/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a></td>
                <td>{% ifequal status 1 %}<font color="green">Running</font>{% endifequal %}
                    {% ifequal status 5 %}<font color="red">Shutoff</font>{% endifequal %}
                    {% ifequal status 3 %}<font color="orange">Suspend</font>{% endifequal %}
                </td>
                <td>
                  <form action="" method="post" style="height:5px;">{% csrf_token %}
                    <input type="hidden" name="vname" value="{{ vm }}" />
                    {% ifequal status 5 %}
                    <button class="btn" type="submit" name="start" title="Start"><i class="icon-play"></i></button>
                    <button class="btn disabled" title="Pause"><i class="icon-pause"></i></button>
                    <button class="btn disabled" title="Shutdown"><i class="icon-off"></i></button>
                    <button class="btn disabled" title="Force Shutdown"><i class="icon-stop"></i></button>
                    <button class="btn disabled" title="VNC"><i class="icon-eye-open"></i></button>
                    {% endifequal %}
                    {% ifequal status 3 %}
                    <button class="btn" type="submit" name="resume" title="Resume"><i class="icon-play"></i></button>
                    <button class="btn disabled" title="Pause"><i class="icon-pause"></i></button>
                    <button class="btn disabled" title="Shutdown"><i class="icon-off"></i></button>
                    <button class="btn disabled" title="Force Shutdown"><i class="icon-stop"></i></button>
                    <button class="btn disabled" title="VNC"><i class="icon-eye-open"></i></button>
                    {% endifequal %}
                    {% ifequal status 1 %}
                    <button class="btn disabled"><i class="icon-play" title="Start"></i></button>
                    <button class="btn" type="submit" name="suspend" title="Pause"><i class="icon-pause"></i></button>
                    <button class="btn" type="submit" name="shutdown" title="Shutdown"><i class="icon-off"></i></button>
                    <button class="btn" type="submit" name="destroy" title="Force Shutdown" onclick="return confirm('Are you sure?')"><i class="icon-stop"></i></button>
                    <button class="btn" onclick="open_vnc_{{ vm }}()" title="VNC"><i class="icon-eye-open"></i></button>
                    {% endifequal %}
                  </form>
                  <script>
                    function open_vnc_{{ vm }}() { window.open('/vnc/{{ host_id }}/{{ vm }}/','','width=968,height=552') }
                  </script>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="well pagination-centered">
              <h4>You doesn’t have any Virtual Machines</h4>
            </div>
            {% endif %}
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->
{% endblock %}
