{% extends "base.html" %}
{% block title %}Storage Pool{% endblock title %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Server Settings</li>
                <li><a href="/overview/{{ host_id }}/"><i class="icon-info-sign"></i> Overview</a></li>
                <li><a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i> Create VM</a></li>
                <li class="active">
                  <a href="/storage/{{ host_id }}/"><i class="icon-folder-open"></i> Storage pool</a>
                </li>
                <li><a href="/network/{{ host_id }}/"><i class="icon-signal"></i> Network pool</a></li>
                <li><a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i> Snapshots</a></li>
                <li class="nav-header">Virtual Machines</li>
                {% if not all_vm %}
                <li><a href="/newvm/{{ host_id }}"><i class="icon-plus"></i> Create VM</a></li>
                {% else %}
                  {% for vm in all_vm %}
                  <li><a href="/vm/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a></li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9 well">
            <h2>Storage Pool</h2>
            <hr>
            <div class="row-fluid">
              <a href="#poolModal" class="btn btn-success" data-toggle="modal">Add Pool</a><br><br>
            </div>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span9 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            {% ifequal pool 'add' %}
              {% if not errors %}
              <div class="well pagination-centered">
                <h4>You doesn’t have any storages</h4>
              </div>
              {% endif %}
            {% endifequal %}

            {% if info %}
            <div class="row-fluid">
              <div class="span5">
                <p>Pool name</p>
                <p>Pool type</p>
                <p>Pool path</p>
                <p>Size ({{ info.1|filesizeformat }} / {{ info.2|filesizeformat }})</p>
                <p>State</p>
              </div>
              <div class="span7">
                <p>[{% for key, value in storages.items %} {% ifequal key pool %}<b>{{ pool }}</b>{% else %}<a href="/storage/{{ host_id }}/{{ key }}">{{ key }}</a>{% endifequal %}{% endfor %} ]</p>
                <p>{% if not info.6 %}None{% else %}{{ info.6 }}{% endif %}</p>
                <p>{% if not info.7 %}None{% else %}{{ info.7 }}{% endif %}</p>
                <p>Usage: {{ info.4 }}%</p>
                <form action="/storage/{{ host_id }}/{{ pool }}/" method="post" style="height:10px;">{% csrf_token %}
                  {% ifequal info.5 0 %}
                  <input type="submit" class="btn btn-primary" name="start" value="Start">
                  <input type="submit" class="btn btn-danger" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                  {% else %}
                  <input type="submit" class="btn btn-primary" name="stop" value="Stop" onclick="return confirm('Are you sure?')">
                  {% endifequal %}
                </form>
              </div>
            </div>
            {% endif %}            
            {% if info %}
            <h3>Volumes</h3>
            <hr>
            {% ifnotequal info.5 0 %}
            <a href="#imgModal" class="btn btn-success" data-toggle="modal">Add Image</a><br><br>
            {% endifnotequal %}
            {% if volumes_info %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th style="width:20px;">#</th>
                  <th>Name</th>
                  <th style="width:30px;">Size</th>
                  <th style="width:30px;">Format</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
               {% for key, value in volumes_info.items %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ key }}</td>
                <td style="width:65px;">{{ value.0|filesizeformat }}</td>
                <td>{{ value.1 }}</td>
                <td style="width:30px;">
                <div id="cloneModal{{ forloop.counter }}" class="modal hide fade">
                  <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3>Clone image <font color="red">{{ key }}</font></h3>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" action="/storage/{{ host_id }}/{{ pool }}/" method="post">{% csrf_token %}
                      <fieldset><br />
                        <div class="control-group">
                        <label class="control-label">Name</label>
                          <div class="controls">
                            <input type="text" class="input-large" name="new_img" placeholder="Name">
                            <input type="hidden" class="input-large" name="img" value="{{ key }}">.img
                          </div> 
                         </div> 
                      </fieldset>
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                        <input type="submit" class="btn btn-primary" name="clone" value="Clone">
                        </form>
                      </div>
                    </div>
                    {% ifnotequal value.1 "iso" %}
                    <a data-toggle="modal" href="#cloneModal{{ forloop.counter }}" class="btn btn-primary">Clone</a>
                    {% else %}
                    <a class="btn btn-primary disabled">Clone</a>
                    {% endifnotequal %}
                </td> 
                <td style="width:30px;">
                  <form action="/storage/{{ host_id }}/{{ pool }}/" method="post" style="height:10px;">{% csrf_token %}
                    <input type="hidden" name="img" value="{{ key }}">
                    <input type="submit" class="btn btn-danger" name="delimg" value="Delete" onclick="return confirm('Are you sure?')">
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="well pagination-centered">
              <h4>You doesn’t have any volumes or storage pool not active</h4>
            </div>
            {% endif %}
          {% endif %}
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->

    <div id="poolModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="poolModalLabel">Add New Storage Pool</h3>
      </div>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#1" data-toggle="tab">dir</a>
          </li>
          <li><a href="#2" data-toggle="tab">lvm</a></li>
        </ul>
      </div>
        <div class="tab-content">
          <div class="tab-pane active" id="1">
            <div class="modal-body">
              <form class="form-horizontal" action="/storage/{{ host_id }}/add/" method="post">{% csrf_token %}
                <fieldset><br />
                  <div class="control-group">
                    <label class="control-label">Type</label>
                    <div class="controls">
                      <input type="text" name="type" value="dir" disabled>
                      <input type="hidden" name="type" value="dir">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                      <input type="text" name="name" class="input-large focused" placeholder="default">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">Path</label>
                    <div class="controls">
                      <input type="text" name="target" class="input-large focused" value="/var/lib/libvirt/images">
                    </div>
                  </div>
              </div>
            </fieldset>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Cancel</button>
              <input class="btn btn-success" name="addpool" type="submit" value="Submit">
              </form>
            </div>
          </div>
          <div class="tab-pane" id="2">
            <div class="modal-body">
              <form class="form-horizontal" action="/storage/{{ host_id }}/add/" method="post">{% csrf_token %}
                <fieldset><br />
                  <div class="control-group">
                    <label class="control-label">Type</label>
                    <div class="controls">
                      <input type="text" name="type" value="logical" disabled>
                      <input type="hidden" name="type" value="logical">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                      <input type="text" name="name" class="input-large focused" placeholder="guest_images_lvm">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">Device</label>
                    <div class="controls">
                      <input type="text" name="source" class="input-large focused" value="/dev/sdb">
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cancel</button>
                <input class="btn btn-success" name="addpool" type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /poolModal -->

      <div id="imgModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="imgModalLabel">Add New Image</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" action="/storage/{{ host_id }}/{{ pool }}/" method="post">{% csrf_token %}
          <fieldset><br>
            <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                <input type="text" name="name" class="input-large focused" placeholder="Name">
              </div>
             </div>
            <div class="control-group">
              <label class="control-label">Size</label>
              <div class="controls">
                <select name="size">
                  {% for num in form_hdd_size %}
                  <option value="{{ num }}">{{ num }} Gb</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Cancel</button>
          <input class="btn btn-success" name="addimg" type="submit" value="Submit">
          </form>
        </div>
      </div> <!-- /imgModal -->
{% endblock content %}
