<html>
<head>
  <title>VNC</title>
      <style type='text/css'>
      #vncviewer { 
        min-width: 800px; 
        max-width: 800px;
        min-height: 628px;
        max-height: 628px;
        border: 1px #fff solid;
        background: #ccc;
        text-align: center;
        font-color: #f00;
      }
      body { 
        background: #444; 
        text-align: center;
      }
    </style>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
  <div id="vncviewer">
    <applet archive="/static/java/vncviewer.jar" code="com.tightvnc.vncviewer.VncViewer" width="800" height="628">
    {% if vnc_passwd %}
      <param name="Scaling factor" value="auto">
      <param name="HOST" value="{{ host.ipaddr }}">
      <param name="ENCPASSWORD" value="{{ vnc_passwd }}">
      <param name="PORT" value="{{ vnc_port }}">
    {% else %}
      <param name="SOCKETFACTORY" value="com.tightvnc.vncviewer.SshTunneledSocketFactory">
      <param name="Scaling factor" value="auto">
      <param name="SSHHOST" value="{{ host.ipaddr }}">
      <param name="HOST" value="localhost">
      <param name="PORT" value="{{ vnc_port }}">
    {% endif %}
      Sorry, the VNC Applet could not be started. Please make sure that Java 1.4.2 (or later) is installed and active in your browser (<a href="http://java.sun.com/getjava">Click here to install Java now</a>)
    </applet>
  </div>
</body>
</html>