{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "404" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12" id="error">
            <h1>Oops!</h1>

            <p class="lead">{% trans "404 Not Found" %}</p>

            <p>{% trans "The requested page was not found on this server." %}</p>
            <a class="btn btn-medium btn-success" href="javascript:history.back()">&larr; Back</a>
        </div>
    </div>
{% endblock %}