<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WebVirtMgr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WebVirtMgr is a libvirt-based Web interface for managing virtual machines" />
    <meta name="author" content="Anatoliy Guskov">
    {% load i18n %}
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      #bigModal {
        width:560px;
        margin-left:-250px;
      }
    </style>
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="data:text/css,">
</head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand strong" href="/">WebVirtMgr</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/docs">{% trans "Docs" %}</a></li>
            </ul>
            {% if request.user.is_authenticated or user.is_authenticated %}
              <ul class="nav pull-right">
                    <li><a href="/admin/logout">{% trans "Sign out" %}</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
      <hr>
      <footer>
        <p>© WebVirtMgr 2012</p>
      </footer>
    </div>
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
    <script src="/media/js/bootstrap-tooltip.js"></script>
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
    <script src="/media/js/bootstrap-typeahead.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
