{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block style %}
      /* tables */
      table#sortTable th {
        background-image: url("{% static "img/bg.gif" %}");
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
      }
      table#sortTable thead tr .headerSortUp {
        background-image: url("{% static "img/asc.gif" %}");
      }
      table#sortTable thead tr .headerSortDown {
        background-image: url("{% static "img/desc.gif" %}");
      }
{% endblock %}
{% block content %}
    <div class="pull-right">
      <a href="{% url page_setup %}">{% trans "Host Server Setup" %}</a>
    </div>
    <h2>{% trans "Dashboard" %}</h2>
    <hr>
    {% if errors %}
      {% for error in errors %}
        <div class="alert alert-block alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="span8">
      <a data-toggle="modal" href="#addModal" class="btn btn-success">{% trans "Add Connection" %}</a>
      {% if host_info %}
      <a href="{% url clusters %}" class="btn btn-success">{% trans "Infrastructure" %}</a>
      {% else %}
      <a href="#" class="btn btn-success disabled">{% trans "Infrastructure" %}</a>
      {% endif %}
      <br><br>
    </div>
    {% if host_info %}
    <div class="span8">
      <table class="table table-hover" id="sortTable">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Server" %}</th>
            <th>{% trans "Status" %}</th>
            <th id="tabAction">{% trans "Action" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in host_info.items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><strong>{{ key }}</strong> [<a href="ssh://{{ value.1 }}">{{ value.1 }}]</a></td>
            <td>{% ifequal value.2 1 %}<font color="green">{% trans "connected" %}</font>{% else %}<font color="red">{% trans "not connected" %} ({{ value.2 }})</font>{% endifequal %}</td>
            <td style="width: 80px;">
              {% ifequal value.2 1 %}
              <div class="btn-group">
                <button class="btn btn-success" onclick="location.href='/overview/{{ value.0 }}/'">{% trans "Overview" %}</button>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/newvm/{{ value.0 }}/">{% trans "Create VM" %}</a></li>
                  <li><a href="/storage/{{ value.0 }}/">{% trans "Storage Pool" %}</a></li>
                  <li><a href="/network/{{ value.0 }}/">{% trans "Network Pool" %}</a></li>
                  <li><a href="/snapshot/{{ value.0 }}/">{% trans "Snapshots" %}</a></li>
                </ul>
              </div>
              {% else %}
              <div class="btn-group">
                <button class="btn btn-success disabled">{% trans "Overview" %}</button>
                <button class="btn btn-success dropdown-toggle disabled" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
              </div>
              {% endifequal %}
            </td>
            <td style="width: 70px;">
              <form action="{% url dashboard %}" method="post" style="height:10px;">{% csrf_token %}
                <input type="hidden" name="host_id" value="{{ value.0 }}">
                <button type="submit" class="btn btn-danger" name="delhost" title="Delete" onclick="return confirm('{% trans "Are you sure?"%}')">{% trans "Delete" %}</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="span8">
          <h4>{% trans "You have no connection" %}</h4>
        </div>
      {% endif %}
        <div id="addModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="addModalLabel">{% trans "Add Host Server" %}</h3>
          </div>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#1" data-toggle="tab">TCP</a>
              </li>
              <li><a href="#2" data-toggle="tab">SSH</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <div class="modal-body">
              <form class="form-horizontal" action="{% url dashboard %}" method="post">{% csrf_token %}
                <fieldset><br>
                  <div class="control-group">
                    <label class="control-label">{% trans "Hostname" %}</label>
                    <div class="controls">
                      <input type="text" name="hostname" class="input-large focused" placeholder="Name" maxlength="20" required pattern="^[a-zA-Z0-9_]+$">
                      <input type="hidden" name="con_type" value="tcp">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "IP / Domain" %}</label>
                    <div class="controls">
                      <input type="text" name="ipaddr" class="input-large" placeholder="{% trans "IP or domain" %}" required pattern="^[a-z0-9\.\-_]+$">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "KVM Login" %}</label>
                    <div class="controls">
                      <input type="text" name="kvm_login" class="input-large focused" placeholder="{% trans "Name" %}">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "KVM Password" %}</label>
                    <div class="controls">
                      <input type="password" name="kvm_passwd1" class="input-large focused" placeholder="{% trans "********" %}">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "KVM Confirm" %}</label>
                    <div class="controls">
                      <input type="password" name="kvm_passwd2" class="input-large focused" placeholder="{% trans "********" %}">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
                <input class="btn btn-success" name="addhost" type="submit" value="{% trans "Submit" %}">
                </form>
              </div>
            </div><!--/TAB1 -->
            <div class="tab-pane" id="2">
              <div class="modal-body">
              <form class="form-horizontal" action="{% url dashboard %}" method="post">{% csrf_token %}
                <fieldset><br>
                  <div class="control-group">
                    <label class="control-label">{% trans "Hostname" %}</label>
                    <div class="controls">
                      <input type="text" name="hostname" class="input-large focused" placeholder="Name" maxlength="20" required pattern="^[a-zA-Z0-9_]+$">
                      <input type="hidden" name="con_type" value="ssh">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "IP / Domain" %}</label>
                    <div class="controls">
                      <input type="text" name="ipaddr" class="input-large" placeholder="{% trans "IP or domain" %}" required pattern="^[a-z0-9\.\-_]+$">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "SSH Login" %}</label>
                    <div class="controls">
                      <input type="text" name="ssh_login" class="input-large focused" placeholder="{% trans "Name" %}">
                    </div>
                   </div>
                  <div class="control-group">
                    <label class="control-label">{% trans "SSH Port" %}</label>
                    <div class="controls">
                      <input type="text" name="ssh_port" class="input-large focused" value="22">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
                <input class="btn btn-success" name="addhost" type="submit" value="{% trans "Submit" %}">
                </form>
              </div>
            </div><!--/TAB2 -->            
          </div>
        </div> <!-- /addModal -->
      </div>
{% endblock %}
{% block script %}
  <script src="{% static "js/jquery.tablesorter.js" %}"></script>
  <script >
    $(function() {
      $("#sortTable").tablesorter({ sortList: [[0,0]] });
    });
  </script>
{% endblock %}