{% extends "base.html" %}
{% load i18n %}
{% block content %}
   <div class="container">
      <div class="hero-unit">
        <h2>{% trans "Dashboard" %}</h2>
        <hr>  
        {% if host_info %}
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Hostname" %}</th>
                <th>{% trans "Status" %}</th>
                <th colspan="2">{% trans "Action" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for name, info in host_info.items %}
                <tr>
                  <td>{{ name }}</td>
                  <td>{{ info.1 }}</td>
                  <td>{% if info.4 == 1 %}<font color="green">{% trans "available" %}</font>{% else %}<font color="red">{% trans "not available" %}</font>{% endif %}</td>
                  <td style="width:30px;">{% if not info.3 and info.4 == 1 %}
                     <div id="myModalkvm{{ info.0 }}" class="modal hide fade">
                        <div class="modal-header">
                          <button class="close" data-dismiss="modal">&times;</button>
                            <h3>{% trans "Authorization" %}</h3>
                        </div>
                     <div class="modal-body">
                        <form class="form-horizontal" action="/overview/{{ info.0 }}/" method="post">{% csrf_token %}
                          <fieldset>
                            <div class="control-group">
                            <label class="control-label">{% trans "KVM login" %}</label>
                              <div class="controls">
                                <input type="text" name="login_kvm" class="input-large" placeholder="Name">
                              </div>
                            </div>
                            <div class="control-group">
                            <label class="control-label">{% trans "KVM password" %}</label>
                              <div class="controls">
                                <input type="password" name="passwd_kvm" class="input-large" placeholder="Password">
                              </div>
                            </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                          <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                            <input type="submit" class="btn btn-primary" name="manage" value="{% trans "Manage" %}">
                         </form>
                        </div>
                      </div>   
                    <a data-toggle="modal" href="#myModalkvm{{ info.0 }}" class="btn btn-primary">{% trans "Authorization" %}</a>{% else %}{% if info.4 == 1 and info.3 %}<button class="btn btn-primary" onclick="location.href='/overview/{{ info.0 }}/'">{% trans "Manage" %}</button>{% else %}<a href="#" class="btn btn-primary disabled">{% trans "Manage" %}</a>{% endif %}{% endif %}
                  </td>
                  <td style="width:30px;">
                    <form action="/dashboard/" method="post" style="height:10px;">{% csrf_token %}
                      <input type="hidden" name="host" value="{{name}}">
                      <button type="submit" class="btn btn-danger" name="delete" value="delete" title="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')"><i class="icon-trash icon-white"></i></button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
          </tbody>
          </table>
        {% else %}
          <h4>{% trans "You have no connection to the host" %}</h4><br>
        {% endif %}
        {% if errors %}
          {% for error in errors %}
            <div class="alert alert-error" style="width:400px">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
        <div id="myModal" class="modal hide fade">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
                <h3>{% trans "Add new host" %}</h3>
            </div>
         <div class="modal-body">
            <form class="form-horizontal" action="/dashboard/" method="post">{% csrf_token %}
              <fieldset>
                <div class="control-group">
                <label class="control-label">{% trans "Name" %}</label>
                  <div class="controls">
                    <input type="text" name="name" class="input-large focused" placeholder="{% trans "Name" %}">
                  </div>
                 </div>
                <div class="control-group">
                <label class="control-label">{% trans "Hostname" %}</label>
                  <div class="controls">
                    <input type="text" name="ipaddr" class="input-large" placeholder="{% trans "IP or Domain" %}">
                  </div>
                </div>
                <div class="control-group">
                <label class="control-label">{% trans "KVM login" %}</label>
                  <div class="controls">
                    <input type="text" name="sshusr" class="input-large" placeholder="{% trans "Optional" %}">
                  </div>
                </div>
                <div class="control-group">
                <label class="control-label">{% trans "KVM password" %}</label>
                  <div class="controls">
                    <input type="password" name="passw" class="input-large" placeholder="{% trans "Optional" %}">
                  </div>
                </div>
                </fieldset>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                <input type="submit" class="btn btn-primary" name="add" value="{% trans "Add" %}">
             </form>
            </div>
          </div>            
         <a data-toggle="modal" href="#myModal" class="btn btn-primary">{% trans "Add connect" %}</a>         
   </div>
{% endblock %}
