{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
<h1>{% trans "Docs" %}</h1>
<br>
<h3>{% trans "Setting up the server to work with the service" %}</h3>	
<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Install packages libvirt-bin, KVM" %}</p>
<pre>
# yum -y install kvm libvirt
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Install packages libvirt-bin, KVM, sasl2-bin" %}</p>
<pre>
$ sudo apt-get install kvm libvirt-bin sasl2-bin
</pre>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Uncomment the line in the file <code>/etc/sysconfig/libvirtd</code>" %}</p>
<pre>
LIBVIRTD_ARGS="--listen"
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Add the option <code>-l</code> in the file <code>/etc/default/libvirt-bin</code>" %}</p>
<pre>
libvirtd_opts="-d -l"
</pre>
<br>
<h4>Ubuntu, Debian, Fedora, CentOS, RedHat</h4>
<p>{% trans "The file <code>/etc/libvirt/libvirtd.conf</code> uncomment the line" %}</p>
<pre>
listen_tls = 0
listen_tcp = 1
</pre>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Start the daemon libvirtd" %}</p>
<pre>
# service libvirtd start
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Restart the daemon libvirtd, because after installation it runs automatically" %}</p>
<pre>
$ sudo service libvirt-bin restart
</pre>
<br>
<p>{% trans "Adding users and setting their passwords is done with the <code>saslpasswd2</code> command. When running this command it is important to tell it that the appname is <code>libvirt</code>. As an example, to add a user <code>fred</code>, run" %}</p>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<pre>
# saslpasswd2 -a libvirt fred
Password: xxxxxx
Again (for verification): xxxxxx
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<pre>
$ sudo saslpasswd2 -a libvirt fred
Password: xxxxxx
Again (for verification): xxxxxx
</pre>
<br>
<p>{% trans "To see a list of all accounts the <code>sasldblistusers2</code> command can be used. This command expects to be given the path to the libvirt user database, which is kept in <code>/etc/libvirt/passwd.db</code>" %}</p>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<pre>
# sasldblistusers2 -f /etc/libvirt/passwd.db
fred@webvirtmgr.net: userPassword
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<pre>
$ sudo sasldblistusers2 -f /etc/libvirt/passwd.db
fred@webvirtmgr.net: userPassword
</pre>
<br>
<p>{% trans "To disable a user's access, use the command <code>saslpasswd2</code> with the <code>-d</code>" %}</p>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<pre>
# saslpasswd2 -a libvirt -d fred
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<pre>
$ sudo saslpasswd2 -a libvirt -d fred
</pre>
<br>
<h3>{% trans "Configuring the firewall" %}</h3>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Open access to ports libvirt" %}</p>
<pre>
# iptables -I INPUT -m state --state NEW -m tcp -p tcp --dport 16509 -j ACCEPT
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Create a file <code>/etc/ufw/applications.d/libvirtd</code> and it add the following lines" %}</p>
<pre>
[Libvirt]
title=Virtualization library
description=Open port for WebVirtMgr
ports=16509/tcp
</pre>
<p>{% trans "Add a firewall rule in the chain" %}</p>
<pre>
$ sudo ufw allow from any to any app Libvirt
</pre>
<br>
<h3>{% trans "Test connection" %}</h3>
<p>{% trans "Before you add the ip address of your server in the control center perform the following test" %}</p>
<pre>
$ virsh -c qemu+tcp://{% trans "<strong>IP_address</strong>" %}/system nodeinfo
Please enter your authentication name: fred
Please enter your password: xxxxxx
CPU model:           x86_64
CPU(s):              2
CPU frequency:       2611 MHz
CPU socket(s):       1
Core(s) per socket:  2
Thread(s) per core:  1
NUMA cell(s):        1
Memory size:         2019260 kB
</pre>
{% endblock %}
