{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Instances" %}{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="main">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if instances %}
            <table class="table">
                <thead>
                <tr class="active">
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "VPU's" %}</th>
                    <th>{% trans "Memory" %}</th>
                    <th style="width:252px;">{% trans "Action" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for inst in instances %}
                    <tr>
                        <td><a href="{% url 'instance' host_id inst.name %}"><i class="icon-th-large"></i> {{ inst.name }}</a></td>
                        <td>{% ifequal inst.status 1 %}
                                <span class="text-success">{% trans "Running" %}</span>
                            {% endifequal %}
                            {% ifequal inst.status 5 %}
                                {% ifequal inst.has_managed_save_image 1 %}
                                    <span class="text-warning">{% trans "Saved" %}</span>
                                {% else %}
                                    <span class="text-danger">{% trans "Shutoff" %}</span>
                                {% endifequal %}
                            {% endifequal %}
                            {% ifequal inst.status 3 %}
                                <span class="text-warning">{% trans "Suspend" %}</span>
                            {% endifequal %}
                        </td>
                        <td>{{ inst.vcpu }}</td>
                        <td>{{ inst.memory }}{% trans "MB" %}</td>
                        <td>
                            <form action="" method="post">{% csrf_token %}
                                <input type="hidden" name="name" value="{{ inst.name }}" />
                                {% ifequal inst.status 5 %}
                                    <button class="btn btn-sm btn-default" type="submit" name="start" title="Start">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Pause" %}">
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Save" %}">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>
                                    {% ifequal inst.has_managed_save_image 1 %}
                                        <button class="btn btn-sm btn-default" type="submit" name="deletesaveimage" title="{% trans "Delete Save Image" %}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-sm btn-default disabled" title="{% trans "Shutdown" %}">
                                            <span class="glyphicon glyphicon-off"></span>
                                        </button>
                                    {% endifequal %}
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Force Shutdown" %}">
                                        <span class="glyphicon glyphicon-stop"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "VNC" %}">
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                    </button>
                                {% endifequal %}
                                {% ifequal inst.status 3 %}
                                    <button class="btn btn-sm btn-default" type="submit" name="resume" title="{% trans "Resume" %}">
                                        <i class="icon-play"></i>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Pause" %}">
                                        <i class="icon-pause"></i>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="submit" name="managedsave" title="{% trans "Save" %}">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Shutdown" %}">
                                        <span class="glyphicon glyphicon-off"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Force Shutdown" %}">
                                        <span class="glyphicon glyphicon-stop"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "VNC" %}">
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                    </button>
                                {% endifequal %}
                                {% ifequal inst.status 1 %}
                                    <button class="btn btn-sm btn-default disabled" title="{% trans "Start" %}">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="submit" name="suspend" title="{% trans "Pause" %}">
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="submit" name="managedsave" title="{% trans "Save" %}">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="submit" name="shutdown" title="{% trans "Shutdown" %}">
                                        <span class="glyphicon glyphicon-off"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="submit" name="destroy" title="{% trans "Force Shutdown" %}" onclick="return confirm('Are you sure?')">
                                        <span class="glyphicon glyphicon-stop"></span>
                                    </button>
                                    <button class="btn btn-sm btn-default" onclick="window.open('{% url 'console' %}?token={{ inst.uuid }}','','width=850,height=485')" title="{% trans "VNC" %}">
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                    </button>
                                {% endifequal %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="well">
                <h4>{% trans "You do not have any Virtual Machines" %}</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
