{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "VM's" %} - {{ vname }}{% endblock %}
{% block style %}
    <link href="{% static "css/progressbar.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        {% include 'sidebar.html' %}
        <div class="col-md-9" role="main">
            <div class="page-header">
                <h1>{% trans "Virtual Machine" %}</h1>
            </div>
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="block-btn">
                <li>{% trans "Action For This Server" %}</li>
            </div>
            <div class="col-md-12" id="instaction">
                <form action="" method="post">{% csrf_token %}
                    {% ifequal status 5 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-align-justify"></span><br> {% trans "Console" %}</button>
                    {% else %}
                        <a href="#console" class="btn btn-default btn-md" id="inst-btn" data-toggle="modal" title="VNC Port: {{ vnc_port }}" onclick="open_vnc()">
                            <span class="glyphicon glyphicon-align-justify"></span><br> {% trans "Console" %}
                        </a>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <button type="submit" class="btn btn-default btn-md" id="inst-btn" name="start"><span class="glyphicon glyphicon-play"></span><br> {% trans "Start" %}</button>
                    {% endifequal %}
                    {% ifequal status 1 %}
                        <button href="#Power" class="btn btn-default btn-md" id="inst-btn" data-toggle="modal"><span class="glyphicon glyphicon-off"></span><br> {% trans "Shutdown" %}</button>
                    {% endifequal %}
                    {% ifequal status 3 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn" data-toggle="modal"><span class="glyphicon glyphicon-off"></span><br> {% trans "Shutdown" %}</button>
                    {% endifequal %}
                    <a href="#Delete" class="btn btn-default btn-md" id="inst-btn" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span><br> {% trans "Delete" %}</a>
                    {% ifequal status 3 %}
                        <button type="submit" name="resume" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-play"></span><br> {% trans "Resume" %}</button>
                        <button type="submit" name="snapshot" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-camera"></span><br> {% trans "Snapshot" %}</button>
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-signal"></span><br> {% trans "Statistics" %}</button>
                    {% endifequal %}
                    {% ifequal status 1 %}
                        <button type="submit" name="suspend" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-pause"></span><br> {% trans "Suspend" %}</button>
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-camera"></span><br> {% trans "Snapshot" %}</button>
                        <a href="vm-stat" class="showbar btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-signal"></span><br> {% trans "Statistics" %}</a>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-pause"></span><br> {% trans "Suspend" %}</button>
                        <button type="submit" name="snapshot" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-camera"></span><br> {% trans "Snapshot" %}</button>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-signal"></span><br> {% trans "Statistics" %}</button>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <a href="#Edit" class="btn btn-default btn-md" data-toggle="modal" id="inst-btn"><span class="glyphicon glyphicon-edit"></span><br> {% trans "Edit" %}</a>
                    {% else %}
                        {% if computes_count != 1 %}
                            <a href="#Migrate" class="btn btn-default btn-md" data-toggle="modal" id="inst-btn"><span class="glyphicon glyphicon-cloud-download"></span><br> {% trans "Migrate" %}</a>
                        {% else %}
                            <a href="#" class="btn btn-default btn-md disabled" data-toggle="modal" id="inst-btn"><span class="glyphicon glyphicon-cloud-download"></span><br> {% trans "Migrate" %}</a>
                        {% endif %}
                    {% endifequal %}
                </form>
            </div>
            <hr>
            <div id="vm-stat">
                <div class="block-btn">
                    <li>{% trans "Usage Statistics" %}</li>
                </div>
                <div class="row show-grid">
                    <div id="cpu-usage">
                        <p style="margin-left: 25px">{% trans "CPU usage" %}</p>
                        <canvas style="margin-left: 25px" id="cpuChart" width="700" height="125"></canvas>
                    </div>
                    <div id="net-usage">
                        {% for network in networks %}
                            <p style="margin-left: 25px">{% trans "Bandwidth" %} - Eth{{ forloop.counter0 }}</p>
                            <canvas style="margin-left: 25px" id="netEth{{ forloop.counter0 }}Chart" width="700" height="125"></canvas>
                            <div id="lineLegend">
                                <span class="netIN">{% trans "In" %}</span>
                                <span class="netOUT">{% trans "Out" %}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="disk-usage">
                        {% for disk in disks %}
                           <p style="margin-left: 25px">{% trans "Disk I/O" %} - {{ disk.dev }}</p>
                           <canvas style="margin-left: 25px" id="blk{{ disk.dev }}Chart" width="700" height="125"></canvas>
                           <div id="lineLegend">
                                <span class="diskRD">{% trans "Read" %}</span>
                                <span class="diskWR">{% trans "Write" %}</span>
                           </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            </div>
            <div class="block-btn">
                <li>{% trans "Name & Status" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    <p><strong>{% trans "Name" %}:</strong></p>
                    <p><strong>{% trans "Description" %}:</strong></p>
                    <p><strong>{% trans "Autostart" %}:</strong></p>
                    <p><strong>{% trans "Status" %}:</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ vname }}</p>
                    <p>{{ description }}</p>
                    <p>
                        <form action="" method="post">{% csrf_token %}
                            {% ifequal autostart 0 %}
                                <input type="submit" class="btn btn-xs btn-default" name="set_autostart" value="{% trans "Enable" %}">
                            {% else %}
                                <input type="submit" class="btn btn-xs btn-default" name="unset_autostart" onclick="return confirm('{% trans "Are you sure?" %}')" value="{% trans "Disable" %}">
                            {% endifequal %}
                        </form>
                    </p>
                    <p>{% if status %}
                        <span class={% ifequal status 5 %}"text-danger">{% trans "Shuttoff" %}{% endifequal %}
                                    {% ifequal status 1 %}"text-success">{% trans "Running" %}{% endifequal %}
                                    {% ifequal status 3 %}"text-warnging">{% trans "Suspend" %}{% endifequal %}
                        </span>
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                    </p>
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Technical Details" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    <p><strong>{% trans "Processor" %}</strong></p>
                    <p><strong>{% trans "Memory" %}</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{% if cur_vcpu %}
                          {{ cur_vcpu }}
                       {% else %}
                          {{ vcpu }}
                       {% endif %}
                        {% trans "VCPU" %}
                    </p>
                    <p>{{ cur_memory }} {% trans "MB" %}</p>
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Network Details" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                     {% for network in networks %}
                        <p><strong>Eth{{ forloop.counter0 }}</strong></p>
                     {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for network in networks %}
                        {% if network.ip %}
                            <p>{{ network.ip }} ({{ network.nic }})</p>
                        {% else %}
                            <p>{{ network.mac }} ({{ network.nic }})</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Storage Details" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    {% for disk in disks %}
                        <p><strong>{% trans "Disk" %} {{ disk.dev }}</strong></p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for disk in disks %}
                        <p>{{ disk.image }} ({{ disk.storage }})</p>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Media Details" %}</li>
            </div>
            {% if media %}
                <div class="row show-grid">
                    <div class="col-md-6">
                        <p><strong>{% trans "Connected" %}</strong></p>
                    </div>
                    <div class="col-md-6">
                        {% for iso in media %}
                        <p>{{ iso.image }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form action="" method="post">{% csrf_token %}
                {% if media %}
                    <input type="hidden" name="iso_media" value="{{ media.0.path }}">
                    <button type="submit" class="btn btn-default"  name="umount_iso" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Disconnect" %}</button>
                {% else %}
                    <div class="form-group">
                    <label class="col-lg-1 control-label">{% trans "Images" %}</label>
                    <div class="col-lg-5">
                        <select name="iso_media" class="form-control">
                            {% if media_iso %}
                                {% for iso in media_iso %}
                                    <option value="{{ iso }}">{{ iso }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="none">{% trans "None" %}</option>
                            {% endif %}
                        </select>
                        <br>
                        {% if media_iso %}
                            <button type="submit" class="btn btn-default" name="mount_iso" >{% trans "Connect" %}</button>
                        {% else %}
                            <button class="btn btn-default disabled" name="connect">{% trans "Connect" %}</button>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <!-- Power -->
    <div class="modal fade" id="Power" tabindex="-1" role="dialog" aria-labelledby="PowerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Power On Server" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Shutdown sends ACPI shutdown signal to guest system. Force shutdown is lost immediately." %}</p>
                </div>
                <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-lg-4 control-label">{% trans "Action" %}</label>
                        <div class="col-lg-6">
                            <label class="radio">
                                <input type="radio" name="power" value="shutdown"/>{% trans "Shutdown" %}
                            </label>
                            <label class="radio">
                                <input type="radio" name="power" value="destroy"/>{% trans "Force Shutdown" %}
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Delete -->
    <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Undefined Server" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Delete HDD image?" %}</p>
                </div>
                <form class="form-group" method="post" role="form">{% csrf_token %}
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="delete_disk" value="true"><strong>{% trans "Warning: if you check this box, VM's data will be lost!" %}</strong>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary" name="delete">{% trans "Delete" %}</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Migrate -->
    <div class="modal fade" id="Migrate" tabindex="-1" role="dialog" aria-labelledby="MigrateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Migrate" %} '{{ vname }}'</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;">
                        <span class="text-danger">{% trans "Warning:" %}</span> {% trans "Both servers must have equal settings and OS type" %}
                    </p>
                    <br>
                    <div class="row show-grid">
                        <div class="col-lg-4" style="text-align:right;">
                             <p><strong>{% trans "Original host" %}</strong></p>
                        </div>
                        <div class="col-lg-4">
                             <p>{{ compute.name }}</p>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-lg-4 control-label">{% trans "New host" %}</label>
                        <div class="col-lg-5">
                            <select name="compute_id" class="form-control">
                            {% if computes_count != 1 %}
                                {% for comp in computes %}
                                    {% if comp.id != compute.id %}
                                        <option value="{{ comp.id }}">{{ comp.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary" name="migrate">{% trans "Migrate" %}</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Edit -->
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="addHostLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Change Virtual Machine Settings" %}</h4>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab">{% trans "Settings" %}</a>
                        </li>
                        <li><a href="#2" data-toggle="tab">{% trans "VNC" %}</a></li>
                        <li><a href="#3" data-toggle="tab">{% trans "XML" %}</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">
                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <div class="modal-body">
                                <p style="font-weight:bold;">{% trans "Logical host CPUs:" %} {{ vcpu_host }}</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" style="font-weight:normal;"> {% trans "Current allocation" %}</label>
                                <div class="col-lg-6">
                                    <select name="cur_vcpu" class="form-control">
                                        {% for cpu in vcpu_range %}
                                            {% if cur_vcpu %}
                                                <option value="{{ cpu }}" {% if cpu == cur_vcpu %}selected{% endif %}>{{ cpu }}</option>
                                            {% else %}
                                                <option value="{{ cpu }}" {% if cpu == vcpu %}selected{% endif %}>{{ cpu }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" style="font-weight:normal;">{% trans "Maximum allocation" %}</label>
                                <div class="col-lg-6">
                                    <select name="vcpu" class="form-control">
                                        {% for cpu in vcpu_range %}
                                            <option value="{{ cpu }}" {% if cpu == vcpu %}selected{% endif %}>{{ cpu }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p style="font-weight:bold;">{% trans "Total host memory:" %} {{ memory_host|filesizeformat }}</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" style="font-weight:normal;">{% trans "Current allocation" %}</label>
                                <div class="col-lg-6">
                                    <select name="cur_memory" class="form-control">
                                        {% for mem in memory_range %}
                                            <option value="{{ mem }}" {% if mem == cur_memory %}selected{% endif %}>{{ mem }} {% trans "MB" %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" style="font-weight:normal;">{% trans "Maximum allocation" %}</label>
                                <div class="col-lg-6">
                                    <select name="memory" class="form-control">
                                        {% for mem in memory_range %}
                                            <option value="{{ mem }}" {% if mem == memory %}selected{% endif %}>{{ mem }} {% trans "MB" %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p style="font-weight:bold;">{% trans "Information" %}</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label" style="font-weight:normal;">{% trans "Description" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="description" value="{{ description }}"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary" name="change_settings">{% trans "Change" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="2">
                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-3 control-label">{% trans "Generate" %}</label>
                                <div class="col-lg-6">
                                    <input type="checkbox" name="auto_pass" value="true" id="vnc_passwd_gen">
                                </div>
                            </div>
                            <div class="form-group" id="vnc_passwd_manual">
                                <label for="inputPassword1" class="col-lg-3 control-label">{% trans "Password" %}</label>
                                <div class="col-lg-6">
                                    <input type="password" class="form-control" name="vnc_passwd" placeholder="{% trans "Password" %}" maxlength="14">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary" name="set_vnc_passwd">{% trans "Change" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="3">
                        <div id="viewXMLpre">
                            <pre class="pre-scrollable">{{ inst_xml }}</pre>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-primary" onclick="javascript:$('#viewXMLpre').hide();$('#viewXMLform').show();">{% trans "Edit" %}</button>
                            </div>
                        </div>
                        <form id="viewXMLform" class="form-horizontal" method="post" role="form" style="display: none;">{% csrf_token %}
                            <textarea class="form-control" rows="18" name="inst_xml">{{ inst_xml }}</textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-danger" name="change_xml">{% trans "Save" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function open_vnc() { window.open('{% url 'console' %}?token={{ uuid }}','','width=850,height=485') }
    </script>
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script type="text/javascript">
        $(document).on('change','#vnc_passwd_gen',function(){
            if($(this).prop('checked')) {
                $('#vnc_passwd_manual').hide();
            } else {
                $('#vnc_passwd_manual').show();
            }
        });
        $(document).on('click','a.showbar',function(){
            var id = $(this).attr('href');
            $('#' + id).slideToggle();
            return false;
        });
    </script>
    {% ifequal status 1 %}
        <script type="text/javascript">
            var cpu_ctx = $("#cpuChart").get(0).getContext("2d");
            var cpuChart = new Chart(cpu_ctx);
            function cpu_usage(){
                $.getJSON('/info/inst/cpu/{{ host_id }}/{{ vname }}', function(data) {
                    var options = {
                        animation : false,
                        pointDotRadius : 2,
                        scaleLabel : "<%=value%> %"
                    }
                    cpuChart.Line(data, options);
                });
            }

            var diskChart = {};
            {% for disk in disks %}
                var disk_ctx_{{ disk.dev }} = $("#blk{{ disk.dev }}Chart").get(0).getContext("2d");
                diskChart['{{ disk.dev }}'] = new Chart(disk_ctx_{{ disk.dev }});
            {% endfor %}
            function disk_usage(){
                $.getJSON('/info/inst/disk/{{ host_id }}/{{ vname }}', function(data) {
                    var options = {
                        animation : false,
                        pointDotRadius : 2,
                        scaleLabel : "<%=value%> Mb/s"
                    }
                    for(var i = 0; i < data.length; i++){
                        diskChart[data[i].dev].Line(data[i].data, options);
                    }
                });

            }

            var netChart = {};
            {% for net in networks %}
                var net_ctx_{{ forloop.counter0 }} = $("#netEth{{ forloop.counter0 }}Chart").get(0).getContext("2d");
                netChart['{{ forloop.counter0 }}'] = new Chart(net_ctx_{{ forloop.counter0 }});
            {% endfor %}
            function net_usage(){
                $.getJSON('/info/inst/net/{{ host_id }}/{{ vname }}', function(data) {
                    var options = {
                        animation : false,
                        pointDotRadius : 2,
                        scaleLabel : "<%=value%> Mbps"
                    }
                    for(var i = 0; i < data.length; i++){
                        netChart[[i]].Line(data[i].data, options);;
                    }
                });
            }
            $(function() {
                window.setInterval('cpu_usage()', {{ time_refresh }});
                window.setInterval('disk_usage()', {{ time_refresh }});
                window.setInterval('net_usage()', {{ time_refresh }});
            });
        </script>
    {% endifequal %}
{% endblock %}