{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "VM's" %} - {{ vname }}{% endblock %}
{% block style %}
    <link href="{% static "css/progressbar.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        {% include 'sidebar.html' %}
        <div class="col-md-9" role="main">
            <div class="page-header">
                <h1>{% trans "Virtual Machine" %}</h1>
            </div>
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="block-btn">
                <li>{% trans "Action For This Server" %}</li>
            </div>
            <div class="col-md-12" id="instaction">
                <form action="" method="post">{% csrf_token %}
                    {% ifequal status 5 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-align-justify"></span><br> {% trans "Console" %}</button>
                    {% else %}
                        <a href="#console" class="btn btn-default btn-md" id="inst-btn" data-toggle="modal" title="VNC Port: {{ vnc_port }}" onclick="open_vnc()">
                            <span class="glyphicon glyphicon-align-justify"></span><br> {% trans "Console" %}
                        </a>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <button type="submit" class="btn btn-default btn-md" id="inst-btn" name="start"><span class="glyphicon glyphicon-play"></span><br> {% trans "Start" %}</button>
                    {% endifequal %}
                    {% ifequal status 1 %}
                        <button href="#Power" class="btn btn-default btn-md" id="inst-btn" data-toggle="modal"><span class="glyphicon glyphicon-off"></span><br> {% trans "Shutdown" %}</button>
                    {% endifequal %}
                    {% ifequal status 3 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn" data-toggle="modal"><span class="glyphicon glyphicon-off"></span><br> {% trans "Shutdown" %}</button>
                    {% endifequal %}
                    <a href="#Delete" class="btn btn-default btn-md" id="inst-btn" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span><br> {% trans "Delete" %}</a>
                    {% ifequal status 3 %}
                        <button type="submit" name="resume" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-play"></span><br> {% trans "Resume" %}</button>
                        <button type="submit" name="snapshot" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-camera"></span><br> {% trans "Snapshot" %}</button>
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-signal"></span><br> {% trans "Statistics" %}</button>
                    {% endifequal %}
                    {% ifequal status 1 %}
                        <button type="submit" name="suspend" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-pause"></span><br> {% trans "Suspend" %}</button>
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-camera"></span><br> {% trans "Snapshot" %}</button>
                        <a href="vm-stat" class="showbar btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-signal"></span><br> {% trans "Statistics" %}</a>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-pause"></span><br> {% trans "Suspend" %}</button>
                        <button type="submit" name="snapshot" class="btn btn-default btn-md" id="inst-btn"><span class="glyphicon glyphicon-camera"></span><br> {% trans "Snapshot" %}</button>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <button class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-signal"></span><br> {% trans "Statistics" %}</button>
                    {% endifequal %}
                    {% ifequal status 5 %}
                        <a href="#Edit" class="btn btn-default btn-md" data-toggle="modal" id="inst-btn"><span class="glyphicon glyphicon-edit"></span><br> {% trans "Edit" %}</a>
                    {% else %}
                        <button href="#" class="btn btn-default btn-md disabled" id="inst-btn"><span class="glyphicon glyphicon-edit"></span><br> {% trans "Edit" %}</button>
                    {% endifequal %}
                </form>
            </div>
            <hr>
            <div id="vm-stat">
                <div class="block-btn">
                    <li>{% trans "Usage Statistics" %}</li>
                </div>
                <div class="row show-grid">
                    <div id="cpu-usage">
                        <div class="col-md-6" id="cpu-usage">
                            <p><strong>{% trans "CPU" %}</strong></p>
                        </div>
                        <div class="col-md-6">
                            <p>{% trans "Usage" %}: <span id="cpu-data">0</span>%</p>
                        </div>
                    </div>
                    <div id="net-usage">
                        {% for network in networks %}
                            <div class="col-md-6">
                                <p><strong>Eth{{ forloop.counter0 }}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p>Rx: 0.0 Mbps Tx: 0.0 Mbps</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="disk-usage">
                        {% for disk in disks %}
                            <div class="col-md-6">
                                <p><strong>{% trans "Disk" %} {{ disk.dev }}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p>Read: 0.0 Mb/s Write: 0.0 Mb/s</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            </div>
            <div class="block-btn">
                <li>{% trans "Name & Status" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    <p><strong>{% trans "Name" %}:</strong></p>
                    <p><strong>{% trans "Description" %}:</strong></p>
                    <p><strong>{% trans "Autostart" %}:</strong></p>
                    <p><strong>{% trans "Status" %}:</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ vname }}</p>
                    <p>{{ description }}</p>
                    <p>
                        <form action="" method="post">{% csrf_token %}
                            {% ifequal autostart 0 %}
                                <input type="submit" class="btn btn-xs btn-default" name="set_autostart" value="{% trans "Enable" %}">
                            {% else %}
                                <input type="submit" class="btn btn-xs btn-default" name="unset_autostart" onclick="return confirm('{% trans "Are you sure?" %}')" value="{% trans "Disable" %}">
                            {% endifequal %}
                        </form>
                    </p>
                    <p>{% if status %}
                        <span class={% ifequal status 5 %}"text-danger">{% trans "Shuttoff" %}{% endifequal %}
                                    {% ifequal status 1 %}"text-success">{% trans "Running" %}{% endifequal %}
                                    {% ifequal status 3 %}"text-warnging">{% trans "Suspend" %}{% endifequal %}
                        </span>
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                    </p>
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Technical Details" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    <p><strong>{% trans "Processor" %}</strong></p>
                    <p><strong>{% trans "Memory" %}</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ vcpu }} VCPU</p>
                    <p>{{ memory }} {% trans "MB" %}</p>
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Network Details" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                     {% for network in networks %}
                        <p><strong>Eth{{ forloop.counter0 }}</strong></p>
                     {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for network in networks %}
                        <p>{{ network.mac }} ({{ network.nic }})</p>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Storage Details" %}</li>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    {% for disk in disks %}
                        <p><strong>{% trans "Disk" %} {{ disk.dev }}</strong></p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for disk in disks %}
                        <p>{{ disk.image }} ({{ disk.storage }})</p>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="block-btn">
                <li>{% trans "Media Details" %}</li>
            </div>
            {% if media %}
                <div class="row show-grid">
                    <div class="col-md-6">
                        <p><strong>{% trans "Connected" %}</strong></p>
                    </div>
                    <div class="col-md-6">
                        {% for iso in media %}
                        <p>{{ iso.image }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form action="" method="post">{% csrf_token %}
                {% if media %}
                    <input type="hidden" name="iso_media" value="{{ media.0.path }}">
                    <button type="submit" class="btn btn-default"  name="umount_iso" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Disconnect" %}</button>
                {% else %}
                    <div class="form-group">
                    <label class="col-lg-1 control-label">{% trans "Images" %}</label>
                    <div class="col-lg-5">
                        <select name="iso_media" class="form-control">
                            {% if media_iso %}
                                {% for iso in media_iso %}
                                    <option value="{{ iso }}">{{ iso }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="none">{% trans "None" %}</option>
                            {% endif %}
                        </select>
                        <br>
                        {% if media_iso %}
                            <button type="submit" class="btn btn-default" name="mount_iso" >{% trans "Connect" %}</button>
                        {% else %}
                            <button class="btn btn-default disabled" name="connect">{% trans "Connect" %}</button>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <!-- Power -->
    <div class="modal fade" id="Power" tabindex="-1" role="dialog" aria-labelledby="PowerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Power On Server" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Shutdown sends ACPI shutdown signal to guest system. Force shutdown is lost immediately." %}</p>
                </div>
                <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-lg-4 control-label">{% trans "Action" %}</label>
                        <div class="col-lg-6">
                            <label class="radio">
                                <input type="radio" name="power" value="shutdown"/>{% trans "Shutdown" %}
                            </label>
                            <label class="radio">
                                <input type="radio" name="power" value="destroy"/>{% trans "Force Shutdown" %}
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Delete -->
    <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Undefined Server" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Delete HDD image?" %}</p>
                </div>
                <form class="form-group" method="post" role="form">{% csrf_token %}
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="delete_disk" value="true"><strong>{% trans "Warning: if you check this box, VM's data will be lost!" %}</strong>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary" name="delete">{% trans "Delete" %}</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Edit -->
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="addHostLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Change Virtual Machine Settings" %}</h4>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab">{% trans "Settings" %}</a>
                        </li>
                        <li><a href="#2" data-toggle="tab">{% trans "VNC" %}</a></li>
                        <li><a href="#3" data-toggle="tab">{% trans "XML" %}</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">
                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "Description" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="description" value="{{ description }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "VCPU" %}</label>
                                <div class="col-lg-6">
                                    <select name="vcpu" class="form-control">
                                        {% for cpu in vcpu_range %}
                                            <option value="{{ cpu }}" {% if cpu == vcpu %}selected{% endif %}>{{ cpu }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "RAM" %}</label>
                                <div class="col-lg-6">
                                    <select name="memory" class="form-control">
                                        {% for mem in memory_range %}
                                            <option value="{{ mem }}" {% if mem == memory %}selected{% endif %}>{{ mem }} {% trans "MB" %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary" name="change_settings">{% trans "Change" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="2">
                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-3 control-label">{% trans "Generate" %}</label>
                                <div class="col-lg-6">
                                    <input type="checkbox" name="auto_pass" value="true" id="vnc_passwd_gen">
                                </div>
                            </div>
                            <div class="form-group" id="vnc_passwd_manual">
                                <label for="inputPassword1" class="col-lg-3 control-label">{% trans "Password" %}</label>
                                <div class="col-lg-6">
                                    <input type="password" class="form-control" name="vnc_passwd" placeholder="{% trans "Password" %}" maxlength="14">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary" name="set_vnc_passwd">{% trans "Change" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="3">
                        <div id="viewXMLpre">
                            <pre class="pre-scrollable">{{ inst_xml }}</pre>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-primary" onclick="javascript:$('#viewXMLpre').hide();$('#viewXMLform').show();">{% trans "Edit" %}</button>
                            </div>
                        </div>
                        <form id="viewXMLform" class="form-horizontal" method="post" role="form" style="display: none;">{% csrf_token %}
                            <textarea class="form-control" rows="18" name="inst_xml">{{ inst_xml }}</textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-danger" name="change_xml">{% trans "Save" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function open_vnc() { window.open('{% url 'console' %}?token={{ uuid }}','','width=850,height=485') }
    </script>
    <script type="text/javascript">
        $(document).on('change','#vnc_passwd_gen',function(){
            if($(this).prop('checked')) {
                $('#vnc_passwd_manual').hide();
            } else {
                $('#vnc_passwd_manual').show();
            }
        });
        $(document).on('click','a.showbar',function(){
            var id = $(this).attr('href');
            $('#' + id).slideToggle();
            return false;
        });
    </script>
    {% ifequal status 1 %}
        <script type="text/javascript">
            function cpu_usage(){
                $.getJSON('/info/inst/cpu/{{ host_id }}/{{ vname }}', function(data) {
                    $('#cpu-data').text(data.cpu);
                });
            }
            function disk_usage(){
                $.getJSON('/info/inst/disk/{{ host_id }}/{{ vname }}', function(data) {
                    var disktar = document.getElementById('disk-usage');
                    var disktartext = '';

                    for(var i = 0; i < data.length; i++){
                        disktartext += '<div class="col-md-6">' +
                                          '<p><strong>{% trans "Disk" %} ' +  data[i].dev  + '</strong></p>' +
                                        '</div>' +
                                        '<div class="col-md-6">' +
                                          '<p>{% trans "Read" %}: ' + (data[i].rd/1024/1024).toFixed(1) + ' Mb/s {% trans "Write" %}: ' + (data[i].wr/1024/1024).toFixed(1) + ' Mb/s</p>' +
                                        '</div>';
                    }
                    disktar.innerHTML = disktartext;
                });
            }
            function net_usage(){
                $.getJSON('/info/inst/net/{{ host_id }}/{{ vname }}', function(data) {
                    var disktar = document.getElementById('net-usage');
                    var disktartext = '';

                    for(var i = 0; i < data.length; i++){
                        disktartext += '<div class="col-md-6">' +
                                          '<p><strong>{% trans "Eth" %}' +  data[i].dev  + '</strong></p>' +
                                        '</div>' +
                                        '<div class="col-md-6">' +
                                          '<p>{% trans "Rx" %}: ' + (data[i].rx/1024/1024).toFixed(1) + ' Mbps {% trans "Tx" %}: ' + (data[i].tx/1024/1024).toFixed(1) + ' Mbps</p>' +
                                        '</div>';
                    }
                    disktar.innerHTML = disktartext;
                });
            }
            $(function() {
                window.setInterval('cpu_usage()', {{ time_refresh }});
                window.setInterval('net_usage()', {{ time_refresh }});
                window.setInterval('disk_usage()', {{ time_refresh }});
            });
        </script>
    {% endifequal %}
{% endblock %}