{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Virtual Network" %}{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          {% include 'sidebar.html' %}
          <div class="span9 well">
            <h2>{% trans "Virtual Networks" %}</h2>
            <hr>
            <a href="#poolModal" class="btn btn-success" data-toggle="modal">{% trans "Add Pool" %}</a><br><br>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span8 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            
            {% ifequal pool 'add' %}
              {% if not errors %}
              <div class="well pagination-centered">
                <h4>{% trans "You don't have any virtual networks" %}</h4>
              </div>
              {% endif %}
            {% endifequal %}

            {% if info %}
            {% if networks %}
            <div class="row-fluid">
              <div class="span5">
                <p>{% trans "Pool name" %}</p>
                <p>{% trans "Device pool" %}</p>
                <p>{% trans "State" %}</p>
              </div>
              <div class="span7">
                <p>[{% for key, value in networks.items %} {% ifequal key pool %}<b>{{ pool }}</b>{% else %}<a href="/network/{{ host_id }}/{{ key }}">{{ key }}</a>{% endifequal %}{% endfor %} ]</p>
                <p>{{ info.1 }}</p>
                <form action="/network/{{ host_id }}/{{ pool }}/" method="post" style="height:10px;">{% csrf_token %}
                  {% ifequal info.0 0 %}
                  <input type="submit" class="btn btn-primary" name="start" value="{% trans "Start" %}">
                  <input type="submit" class="btn btn-danger" name="delete" value="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                  {% else %}
                  <input type="submit" class="btn btn-primary" name="stop" value="{% trans "Stop" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                  {% endifequal %}
                </form>
              </div>
            </div>
            <h3>{% trans "IPv4 configuration" %}</h3>
            <hr>
            <div class="row-fluid">
              <div class="span5">
                <p>{% trans "Type forwarding" %}</p>
                <p>{% trans "Subnet pool" %}</p>
                <p>{% trans "DHCP" %}</p>
                {% if ipv4_net.2 %}
                <p>{% trans "Start" %}</p>
                <p>{% trans "End" %}</p> 
                {% endif %}
              </div>
              <div class="span5">
                <p>{% ifequal ipv4_net.0.0 'nat' %} {% trans "NAT" %} {% endifequal %} {% ifequal ipv4_net.0.0 'route' %} {% trans "ROUTE" %} {% endifequal %} {% if not ipv4_net.0.0 %} {% trans "ISOLATE" %} {% endif %}</p>
                <p>{{ ipv4_net.1 }}</p>
                <p>{% if ipv4_net.2 %}<font color="green">{% trans "ON" %}</font>{% else %}<font color="red">{% trans "OFF" %}</font>{% endif %}</p>
                {% for dhcp in ipv4_net.2 %} 
                  <p>{{ dhcp }}</p>
                {% endfor %}
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->

      <div id="poolModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="poolModalLabel">{% trans "Add New Network Pool" %}</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" action="/network/{{ host_id }}/add/" method="post">{% csrf_token %}
          <fieldset><br>
            <div class="control-group">
              <label class="control-label">{% trans "Name" %}</label>
              <div class="controls">
                <input type="text" name="name" class="input-medium focused" placeholder="default">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">{% trans "Subnet pool" %}</label>
                <div class="controls">
                  <input type="text" class="input-medium"  name="net_addr" value="192.168.100.0/24">
                </div>
              </div>
              <div class="control-group">
              <label class="control-label">{% trans "DHCP" %}</label>
                <div class="controls">
                  <input type="checkbox" name="dhcp" value="1" checked>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{% trans "Type forwarding" %}</label>
                <div class="controls">
                  <select class="input-medium" name="forward"> 
                    <option value="nat">{% trans "NAT" %}</option>
                    <option value="route">{% trans "ROUTE" %}</option>
                    <option value="none">{% trans "ISOLATE" %}</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
          <input class="btn btn-success" name="addpool" type="submit" value="{% trans "Submit" %}">
          </form>
        </div>
      </div> <!-- /poolModal -->
{% endblock %}
