{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Create VM" %}{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          {% include 'sidebar.html' %}
          <div class="span9 well">
            <h2>{% trans "Create Virtual Machine" %}</h2>
            <hr>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="span8 alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            <a data-toggle="modal" href="#addModalCustom" class="btn btn-success">{% trans "Custom" %}</a>
            <a data-toggle="modal" href="#addModalFlavor" class="btn btn-success">{% trans "New Flavor" %}</a>
            <br><br>
            {% if flavors %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "VCPU's" %}</th>
                  <th>{% trans "RAM" %}</th>
                  <th>{% trans "HDD" %}</th>
                  <th style="width:5px;">{% trans "Action" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for flavor in flavors %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ flavor.name }}</td>
                  <td>{{ flavor.vcpu }}</td>
                  <td>{{ flavor.ram }} {% trans "MB" %}</td>
                  <td>{{ flavor.hdd }} {% trans "GB" %}</td>
                  <td>
                     <div id="addModal{{ forloop.counter }}" class="modal hide fade">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 id="poolModalLabel">{% trans "Add New Virtual Machine" %} ({{ flavor.name }})</h3>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" action="{% url newvm host_id %}" method="post">{% csrf_token %}
                          <fieldset><br>
                            <div class="control-group">
                            <label class="control-label">{% trans "Name" %}</label>
                              <div class="controls">
                                <input type="text" class="input-large" name="name" placeholder="{% trans "Name" %}" maxlength="12" required pattern="^[a-zA-Z0-9_]+$">
                                <input type="hidden" class="input-large" name="vcpu" value="{{ flavor.vcpu }}">
                                <input type="hidden" class="input-large" name="ram" value="{{ flavor.ram }}">
                                <input type="hidden" class="input-large" name="hdd_size" value="{{ flavor.hdd }}">
                              </div> 
                             </div>
                            <div class="control-group">
                              <label class="control-label">{% trans "Storage" %}</label>
                              <div class="controls">
                                <select name="storage">
                                  {% for storage in all_storages %}
                                  <option value="{{ storage }}">{{ storage }}</option>
                                  {% endfor %}
                                </select>
                              </div> 
                            </div>
                            <div class="control-group">
                              <label class="control-label">{% trans "Network" %}</label>
                              <div class="controls">
                                <select name="network">
                                  {% for network in all_networks %}
                                  <option value="{{ network }}">{{ network }}</option>
                                  {% endfor %}
                                  <option value="br0">br0</option>
                                </select>
                              </div> 
                            </div>
                            <div class="control-group">
                              <label class="control-label">{% trans "VirtIO" %}</label>
                              <div class="controls">
                                <input type="checkbox" name="virtio" value="true">
                              </div> 
                            </div>
                          </fieldset>
                          </div>
                          <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                            {% if all_storages and all_networks %}
                            <input type="submit" class="btn btn-success" name="newvm" value="{% trans "Submit" %}">
                            {% else %}
                            <a href="#" class="btn btn-success disabled">{% trans "Submit" %}</a>
                            {% endif %}
                            </form>
                          </div>
                        </div>
                      <a data-toggle="modal" href="#addModal{{ forloop.counter }}" class="btn btn-success">{% trans "Create" %}</a>
                    </td>
                    <td style="width:5px;">
                      <form class="form-horizontal" action="{% url newvm host_id %}" method="post" style="height:10px;">{% csrf_token %}
                        <input type="hidden" name="flavor" value="{{ flavor.id }}">
                        <input type="submit" class="btn btn-danger" name="del_flavor" value="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="well pagination-centered">
              <h4>{% trans "You don't have any flavors" %}</h4>
            </div>
            {% endif %}
            <div id="addModalCustom" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="poolModalLabel">{% trans "Add New Virtual Machine" %}</h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="{% url newvm host_id %}" method="post">{% csrf_token %}
                  <fieldset><br>
                    <div class="control-group">
                    <label class="control-label">{% trans "Name" %}</label>
                      <div class="controls">
                        <input type="text" class="input-large" name="name" placeholder="{% trans "Name" %}" maxlength="12" required pattern="^[a-zA-Z0-9_]+$">
                      </div> 
                     </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "VCPU" %}</label>
                      <div class="controls">
                        <select name="vcpu">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "RAM" %}</label>
                      <div class="controls">
                        <select name="ram">
                          <option value="128">128 {% trans "MB" %}</option>
                          <option value="256">256 {% trans "MB" %}</option>
                          <option value="512">512 {% trans "MB" %}</option>
                          <option value="768">768 {% trans "MB" %}</option>
                          <option value="1024">1024 {% trans "MB" %}</option>
                          <option value="2048">2048 {% trans "MB" %}</option>
                          <option value="4096">4096 {% trans "MB" %}</option>
                          <option value="8192">8192 {% trans "MB" %}</option>
                          <option value="16384">16384 {% trans "MB" %}</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "HDD" %}</label>
                      <div class="controls">
                        <select name="img">
                        {% if all_img %}
                        {% for name in all_img %}
                          <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                        {% else %}
                          <option value="">{% trans "None" %}</option>
                        {% endif %}
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "Network" %}</label>
                      <div class="controls">
                        <select name="network">
                          {% for network in all_networks %}
                          <option value="{{ network }}">{{ network }}</option>
                          {% endfor %}
                          <option value="br0">br0</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "VirtIO" %}</label>
                      <div class="controls">
                        <input type="checkbox" name="virtio" value="true">
                      </div> 
                    </div>
                  </fieldset>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                    {% if all_storages and all_networks %}
                    <input type="submit" class="btn btn-success" name="newvm" value="{% trans "Submit" %}">
                    {% else %}
                    <a href="#" class="btn btn-success disabled">{% trans "Submit" %}</a>
                  {% endif %}
                  </form>
                  </div>
              </div> <!-- Custom -->
            <div id="addModalFlavor" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="poolModalLabel">{% trans "Add New Flavor" %}</h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="{% url newvm host_id %}" method="post">{% csrf_token %}
                  <fieldset><br>
                    <div class="control-group">
                    <label class="control-label">{% trans "Name" %}</label>
                      <div class="controls">
                        <input type="text" class="input-large" name="name" placeholder="{% trans "Name" %}">
                      </div> 
                     </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "VCPU" %}</label>
                      <div class="controls">
                        <select name="vcpu">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "RAM" %}</label>
                      <div class="controls">
                        <select name="ram">
                          <option value="128">128 {% trans "MB" %}</option>
                          <option value="256">256 {% trans "MB" %}</option>
                          <option value="512">512 {% trans "MB" %}</option>
                          <option value="768">768 {% trans "MB" %}</option>
                          <option value="1024">1024 {% trans "GB" %}</option>
                          <option value="2048">2048 {% trans "GB" %}</option>
                          <option value="4096">4096 {% trans "GB" %}</option>
                          <option value="8192">8192 {% trans "GB" %}</option>
                          <option value="16384">16384 {% trans "GB" %}</option>
                        </select>
                      </div> 
                    </div>
                    <div class="control-group">
                      <label class="control-label">{% trans "HDD" %}</label>
                      <div class="controls">
                        <select name="hdd">
                          {% for hdd_size in hdd_digits_size %}
                          <option value="{{ hdd_size }}">{{ hdd_size }} {% trans "GB" %}</option>
                          {% endfor %}
                        </select>
                      </div> 
                    </div>
                  </fieldset>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                    <input type="submit" class="btn btn-success" name="add_flavor" value="{% trans "Submit" %}">
                  </form>
                  </div>
              </div><!-- Flavor -->
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->
{% endblock %}
