{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Overview" %}{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          {% include 'sidebar.html' %}
          <div class="span9 well">
            <h2>{% trans "Overview" %}</h2>
            <hr>
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            <div class="row-fluid">
              <div class="span5">
                <p>{% trans "Hostname" %}</p>
                <p>{% trans "Architecture" %}</p>
                <p>{% trans "Processor(s)" %}</p>
                <p style="height:30px">{% trans "CPU utilization" %}</p>
                <p style="height:30px">{% trans "Memory" %} ({{ mem_usage.1|filesizeformat }} / {{ mem_usage.0|filesizeformat }})</p>
                <p>{% trans "Type connection" %}</p>
                <p>{% trans "Libvirt version" %}</p>
              </div>
              <div class="span6">
                <p><strong>{{ host_info.0 }}</strong></p>
                <p>{{ host_info.1 }}</p>
                <p>{{ host_info.2 }} x {{ host_info.3 }}</p>
                <div class="progress" style="width:250px;">
                        <div class="bar" id="cpu-usage-bar" style="width:0%;"></div>
			<span id="cpu-usage" style="text-align: center;"></span>
                </div>
                <div class="progress" style="width:250px;">
                        <div class="bar" id="memory-usage-bar" style="width:{{ mem_usage.2 }}%;"></div>
			<span id="memory-usage" style="text-align: center;"></span>
                </div>
                <!--<p>{{ mem_usage.2 }}%</p>-->
                <p>{{ host_info.4 }}</p>
                <p>{{ host_info.5 }}</p>
              </div>
            </div>
            <h2>{% trans "Virtual Machines" %}</h2>
            <hr>
            {% if all_vm %}
            <table class="table">
              <thead>
                <tr>
                  <th style="width:20px;">#</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th style="width:220px;">{% trans "Action" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for vm, status in all_vm.items %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url vds host_id vm %}"><i class="icon-th-large"></i> {{ vm }}</a></td>
                <td>{% ifequal status 1 %}<font color="green">{% trans "Running" %}</font>{% endifequal %}
                    {% ifequal status 5 %}<font color="red">{% trans "Shutoff" %}</font>{% endifequal %}
                    {% ifequal status 3 %}<font color="orange">{% trans "Suspend" %}</font>{% endifequal %}
                </td>
                <td>
                  <form action="" method="post" style="height:5px;">{% csrf_token %}
                    <input type="hidden" name="vname" value="{{ vm }}" />
                    {% ifequal status 5 %}
                    <button class="btn" type="submit" name="start" title="Start"><i class="icon-play"></i></button>
                    <button class="btn disabled" title="{% trans "Pause" %}"><i class="icon-pause"></i></button>
                    <button class="btn disabled" title="{% trans "Shutdown" %}"><i class="icon-off"></i></button>
                    <button class="btn disabled" title="{% trans "Force Shutdown" %}"><i class="icon-stop"></i></button>
                    <button class="btn disabled" title="{% trans "VNC" %}"><i class="icon-eye-open"></i></button>
                    {% endifequal %}
                    {% ifequal status 3 %}
                    <button class="btn" type="submit" name="resume" title="{% trans "Resume" %}"><i class="icon-play"></i></button>
                    <button class="btn disabled" title="{% trans "Pause" %}"><i class="icon-pause"></i></button>
                    <button class="btn disabled" title="{% trans "Shutdown" %}"><i class="icon-off"></i></button>
                    <button class="btn disabled" title="{% trans "Force Shutdown" %}"><i class="icon-stop"></i></button>
                    <button class="btn disabled" title="{% trans "VNC" %}"><i class="icon-eye-open"></i></button>
                    {% endifequal %}
                    {% ifequal status 1 %}
                    <button class="btn disabled"><i class="icon-play" title="{% trans "Start" %}"></i></button>
                    <button class="btn" type="submit" name="suspend" title="{% trans "Pause" %}"><i class="icon-pause"></i></button>
                    <button class="btn" type="submit" name="shutdown" title="{% trans "Shutdown" %}"><i class="icon-off"></i></button>
                    <button class="btn" type="submit" name="destroy" title="{% trans "Force Shutdown" %}" onclick="return confirm('Are you sure?')"><i class="icon-stop"></i></button>
                    <button class="btn" onclick="window.open('{% url vnc host_id vm %}?token={{ vm }}','','width=850,height=485')" title="{% trans "VNC" %}"><i class="icon-eye-open"></i></button>
                    {% endifequal %}
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="well pagination-centered">
              <h4>{% trans "You don't have any Virtual Machines" %}</h4>
            </div>
            {% endif %}
          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->
    <script type="text/javascript">
		function cpu(){
			$.get('/info/cpu/{{ host_id }}', function(data) {
				$('#cpu-usage').text(data +'%').fadeIn();
				$('#cpu-usage-bar').css({'width':data +'%'});
			});
		}

		function memory(){
			$.get('/info/memory/{{ host_id }}', function(data) {
				$('#memory-usage').text(data +'%').fadeIn();
				$('#memory-usage-bar').css({'width':data +'%'});
			});
		}

		function refresh(){
			cpu();
			memory();
		}

		$(function() {
			refresh();
			window.setInterval('refresh()', 2000);
		});
    </script>	
    <style>
	/**
	 * Progress bars with centered text
	 */
	.progress {
	    position: relative;
	}
	
	.bar {
	    z-index: 1;
	    position: absolute;
	}
	
	.progress span {
	    position: absolute;
	    top: 0;
	    z-index: 2;
	    color: black; // You might need to change it
	    text-align: center;
	    width: 100%;
	}
    </style>
{% endblock %}
