{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Overview" %}{% endblock %}
{% block style %}
    <link href="{% static "css/progressbar.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        {% include 'sidebar.html' %}
        <div class="col-md-9" role="main">
            <div class="page-header">
                <h1>{% trans "Overview" %}</h1>
            </div>
            <div class="row show-grid">
                <div class="col-md-6">
                    <p>{% trans "Hostname" %}</p>
                    <p>{% trans "Architecture" %}</p>
                    <p>{% trans "Processor(s)" %}</p>
                    <p style="height:30px">{% trans "CPU utilization" %}</p>
                    <p style="height:30px">{% trans "Memory" %} ({{ mem_usage|filesizeformat }} / {{ all_mem|filesizeformat }})</p>
                    <p>{% trans "Type connection" %}</p>
                    <p>{% trans "Libvirt version" %}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>{{ hostname }}</strong></p>
                    <p>{{ arch }}</p>
                    <p>{{ cpus }} x {{ cpu_model }}</p>
                    <div class="progress">
                        <span id="cpu-usage" style="text-align:center;"></span>
                        <div class="progress-bar" id="cpu-usage-bar" style="width:{{ cpu_usage }}%;"></div>
                    </div>
                    <div class="progress">
                        <span id="memory-usage" style="text-align: center;"></span>
                        <div class="progress-bar" id="memory-usage-bar" style="width:{{ mem_perc }}%;"></div>
                    </div>
                    <p>{{ type_conn }}</p>
                    <p>{{ libvirt_ver }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript">
        function cpu(){
            $.get('/info/cpu/{{ host_id }}', function(data) {
                setBar($('#cpu-usage-bar'),$('#cpu-usage'),data);
            });
        }
        function memory(){
            $.get('/info/memory/{{ host_id }}', function(data) {
                setBar($('#memory-usage-bar'),$('#memory-usage'),data);
            });
        }
        function setBar(bar,text,value){
            text.text(value +'%').fadeIn();
            bar.css({'width':value +'%'});
            if (value < 50){
                bar.attr('class', "progress-bar progress-bar-success");
            }else if (value < 80){
                bar.attr('class', "progress-bar progress-bar-warning");
            }else if (value <= 100){
                bar.attr('class', "progress-bar progress-bar-danger");
            }
        }
        function refresh(){
            cpu();
            memory();
        }
        $(function() {
            refresh();
            window.setInterval('refresh()', {{ time_refresh }});
        });
    </script>
{% endblock %}