{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block style %}
    <link href="{% static "css/table-sort.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        {% if form.name.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.name.errors  %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.hostname.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.hostname.errors  %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.login.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.login.errors  %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.password.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.password.errors  %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="col-md-12" role="main">
            <div class="page-header">
                <a data-toggle="modal" href="#addHost" class="btn btn-success pull-right">{% trans "Add Host" %}</a>
                <h1>{% trans "Servers List" %}</h1>
            </div>
            {% if hosts_info %}
                <table class="table table-hover" id="sortTable">
                    <thead>
                    <tr>
                        <th style="width:35px">#</th>
                        <th>{% trans "Server" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for host_id, info in hosts_info.items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><strong>{{ info.0 }}</strong> [<a href="ssh://{{ info.1 }}">{{ info.1 }}]</a></td>
                            <td>
                                {% ifequal info.2 1 %}
                                    <span class="text-success">{% trans "connected" %}</span>
                                {% else %}
                                    <span class="text-danger">{% trans "not connected" %} ({{ info.2 }})</span>
                                {% endifequal %}
                            </td>
                            <td style="width:280px">
                                {% ifequal info.2 1 %}
                                    <a href="{% url 'overview' host_id %}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                    <a href="{% url 'create' host_id %}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <a href="{% url 'storages' host_id %}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-hdd"></span>
                                    </a>
                                    <a href="{% url 'networks' host_id %}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-globe"></span>
                                    </a>
                                    <a href="{% url 'snapshots' host_id %}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-camera"></span>
                                    </a>
                                {% else %}
                                    <a href="#" class="btn btn-primary disabled">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <a href="#" class="btn btn-primary disabled">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <a href="#" class="btn btn-primary disabled">
                                        <span class="glyphicon glyphicon-hdd"></span>
                                    </a>
                                    <a href="#" class="btn btn-primary disabled">
                                        <span class="glyphicon glyphicon-globe"></span>
                                    </a>
                                    <a href="#" class="btn btn-primary disabled">
                                        <span class="glyphicon glyphicon-camera"></span>
                                    </a>
                                {% endifequal %}
                            </td>
                            <td style="width:70px">
                                <form action="" method="post">{% csrf_token %}
                                    <input type="hidden" name="host_id" value="{{ host_id }}">
                                    <button type="submit" class="btn btn-danger" name="host_del" title="Delete" onclick="return confirm('{% trans "Are you sure?"%}')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="well">
                    <h4>{% trans "You have no connection" %}</h4>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addHost" tabindex="-1" role="dialog" aria-labelledby="addHostLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Add Host Server" %}</h4>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab">{% trans "TCP Connections" %}</a>
                        </li>
                        <li><a href="#2" data-toggle="tab">{% trans "SSH Connections" %}</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">
                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "Hostname" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" name="name" class="form-control" placeholder="Name" maxlength="20" required pattern="[a-zA-Z0-9_]+">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "IP / Domain" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" name="hostname" class="form-control" placeholder="{% trans "IP or domain" %}" required pattern="[a-z0-9\.\-_]+">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "Username" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" name="login" class="form-control" placeholder="{% trans "Name" %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "Password" %}</label>
                                <div class="col-lg-6">
                                    <input type="password" name="password" class="form-control" placeholder="{% trans "********" %}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary" name="host_tcp_add">{% trans "Add" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="2">
                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <p>{% trans "Need create ssh authorization key" %}</p>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "Hostname" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" name="name" class="form-control" placeholder="Name" maxlength="20" required pattern="[a-zA-Z0-9_]+">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "IP / Domain" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" name="hostname" class="form-control" placeholder="{% trans "IP or domain" %}" required pattern="[a-z0-9\.\-_]+">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">{% trans "Username" %}</label>
                                <div class="col-lg-6">
                                    <input type="text" name="login" class="form-control" placeholder="{% trans "Name" %}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary" name="host_ssh_add">{% trans "Add" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block script %}
<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script >
    $(function() {
        $("#sortTable").tablesorter({ sortList: [[0,0]] });
    });
</script>
{% endblock %}