{% load i18n %}
<div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">{% trans "Server Settings" %}</li>
                <li {% ifequal request.path '/overview/1/'  %}class="active"{% endifequal %}>
                  <a href="{% url overview host_id %}"><i class="icon-info-sign"></i> {% trans "Overview" %}</a>
                </li>
                <li {% ifequal request.path '/newvm/1/' %}class="active"{% endifequal %}>
                  <a href="{% url newvm host_id %}"><i class="icon-plus"></i> {% trans "Create VM" %}</a>
                </li>
                <li {% ifequal request.path '/storage/1/' %}class="active"{% endifequal %}>
                  <a href="{% url storage host_id %}"><i class="icon-folder-open"></i> {% trans "Storage pool" %}</a>
                </li>
                <li {% ifequal request.path '/network/1/' %}class="active"{% endifequal %}>
                  <a href="/network/{{ host_id }}/"><i class="icon-signal"></i> {% trans "Network pool" %}</a>
                </li>
                <li {% ifequal request.path '/snapshot/1/' %}class="active"{% endifequal %}>
                  <a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i> {% trans "Snapshots" %}</a>
                </li>
                <li class="nav-header">{% trans "Virtual Machines" %}</li>
                {% if not all_vm %}
                <li>
                  <a href="{% url newvm host_id %}"><i class="icon-plus"></i> {% trans "Create VM" %}</a>
                </li>
                {% else %}
                  {% for vm in all_vm %}
                  <li>
                    <a href="/vds/{{ host_id }}/{{ vm }}/"><i class="icon-th-large"></i> {{ vm }}</a>
                  </li>
                  {% endfor %}
              {% endif %}
              </ul>
            </div><!--/.well -->
          </div><!--/span-->