{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "VM's" %} - {{ vname }}{% endblock %}
{% block content %}
      <div class="container-fluid">
        <div class="row-fluid">
          {% include 'sidebar.html' %}
          <div class="span9 well">
            <h2>{% trans "Virtual Machine" %}</h2>
            <hr>
            {% if messages %}
              {% for message in messages %}
              <div class="row-fluid">
                <div class="alert alert-block alert-success">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ message }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            {% if errors %}
              {% for error in errors %}
              <div class="row-fluid">
                <div class="alert alert-block alert-error">
                  <a class="close" data-dismiss="alert">&times;</a>
                  <p>{{ error }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
            <div class="span9">
              <ul>
                <li>{% trans "Action For This Server" %}</li><br>
                <form action="" method="post">{% csrf_token %}
                  {% ifequal dom.info.0 5 %}
                  <a href="#console" role="button" class="btn disabled" style="height:40px;width:60px;"><i class="icon-align-justify"></i><br>{% trans "Console" %}</a>
                  {% else %}
                  <a href="#console" role="button" class="btn" data-toggle="modal" style="height:40px;width:60px;" onclick="open_vnc()"><i class="icon-align-justify"></i><br>{% trans "Console" %}</a>
                  {% endifequal %}
                  {% ifequal dom.info.0 5 %}
                  <button type="submit" class="btn" name="start" value="Start" style="height:50px;width:80px;"><i class="icon-off"></i><br>{% trans "Start" %}</button>
                  {% endifequal %}
                  {% ifequal dom.info.0 1 %}
                  <a href="#powerModal" role="button" class="btn" data-toggle="modal" style="height:40px;width:60px;"><i class="icon-off"></i><br>{% trans "Shutdown" %}</a>
                  {% endifequal %}
                  {% ifequal dom.info.0 3 %}
                  <a href="#" role="button" class="btn disabled" data-toggle="modal" style="height:40px;width:60px;"><i class="icon-off"></i><br>{% trans "Shutdown" %}</a>
                  {% endifequal %}
                  <a href="#deleteModal" role="button" class="btn" data-toggle="modal" style="height:40px;width:60px;"><i class="icon-remove"></i><br>{% trans "Delete" %}</a>
                  {% ifequal dom.info.0 3 %}
                  <button type="submit" name="resume" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-play"></i><br>{% trans "Resume" %}</button>
                  <button type="submit" name="snapshot" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-download-alt"></i><br>{% trans "Snapshot" %}</button>
                  {% endifequal %}
                  {% ifequal dom.info.0 1 %}
                  <button type="submit" name="suspend" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-pause"></i><br>{% trans "Suspend" %}</button>
                  <a role="button" class="btn disabled" style="height:40px;width:60px;"><i class="icon-download-alt"></i><br>{% trans "Snapshot" %}</a>
                  {% endifequal %}
                  {% ifequal dom.info.0 5 %}
                  <a role="button" class="btn disabled" style="height:40px;width:60px;"><i class="icon-download-alt"></i><br>{% trans "Suspend" %}</a>
                  <button type="submit" name="snapshot" role="button" class="btn" style="height:50px;width:80px;"><i class="icon-download-alt"></i><br>{% trans "Snapshot" %}</button>
                  {% endifequal %}
                  {% if not vm.vnc_passwd and dom.info.0 == 5 %}
                    <br><br>
                    <button class="btn" type="submit" name="vnc_pass">{% trans "Enable noVNC" %}</button>
                  {% endif %}
                 </form>
                <hr>
                <li>{% trans "Name & Status" %}</li><br>
                <div class="row offset2">
                  <div class="span3">
                    <p><b>{% trans "Name" %}:</b></p>
                    <p><b>{% trans "Status" %}:</b></p>
                  </div>
                  <div class="span6">
                    <p>{{ vname }}</p>
                    <p><font color={% ifequal dom.info.0 5 %}"red"{% trans "Shuttoff" %}{% endifequal %}{% ifequal dom.info.0 1 %}"green"{% trans "Running" %}{% endifequal %}{% ifequal dom.info.0 3 %}"orange"{% trans "Suspend" %}{% endifequal %}></font></p>
                  </div>
                </div>
                <hr>
                <li>{% trans "Technical Details" %}</li><br>
                <div class="row offset2">
                  <div class="span3">
                    <p><b>{% trans "Processor" %}:</b></p>
                    <p><b>{% trans "Memory" %}:</b></p>
                    <p><b>{% trans "Network" %}:</b></p>
                  </div>
                  <div class="span6">
                    <p>VCPU {{ dom_info.0 }} ({% trans "Usage" %}: {{ cpu_usage }}%)</p>
                    <p>{{ dom_info.1 }} {% trans "MB" %} ({% trans "Usage" %}: {{ mem_usage.1 }}%)</p>
                    <p>{{ dom_info.2 }} ({{ dom_info.3 }})</p>
                  </div>
                </div>
                <hr>
                <li>{% trans "Storage Details" %}</li><br>
                <div class="row offset2">
                  <div class="span3">
                    {% for dev_bus, hdd_dev in hdd_image.items reversed %}
                    <p><b>{% trans "Disk" %} {{ dev_bus }}:</b></p>
                    {% endfor %}
                  </div>
                  <div class="span6">
                    {% for dev_bus, hdd_dev in hdd_image.items reversed %}
                    <p> {{ hdd_dev.0 }} ({{ hdd_dev.1 }})</p>
                    {% endfor %}
                  </div>
                </div>
                <hr>
                <li>{% trans "Media Details" %}</li>
                <br />
                {% if media %}
                <div class="row offset2">
                  <div class="span3">
                    <p><b>{% trans "Connected" %}:</b></p>
                  </div>
                  <div class="span5">
                    <p>{{ media }}</p>
                  </div>
                </div>
                {% endif %}
                <div class="pagination-centered">
                  <form action="" method="post">{% csrf_token %}
                    {% if media %}
                    <input type="hidden" name="iso_img" value="{{ media }}">
                    <input type="submit" class="btn"  name="remove_iso" value="{% trans "Disconnect" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                    {% else %}
                    <b>{% trans "Images" %}:</b> <select name="iso_img" class="input-large">
                    {% if iso_images %}
                      {% for iso in iso_images %}
                        <option value="{{ iso }}">{{ iso }}</option>
                      {% endfor %}
                    {% else %}
                      <option value="none">{% trans "None" %}</option>
                    {% endif %}
                    </select>
                    <br />
                    {% if iso_images %}
                    <input type="submit" class="btn" name="add_iso" value="{% trans "Connect" %}">
                    {% else %}
                    <a class="btn disabled" name="connect">{% trans "Connect" %}</a>
                    {% endif %}
                    {% endif %}
                  </form>
                </div>
              </ul>
            </div> <!-- /span7 -->

            <div id="powerModal" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="rebootModalLabel">{% trans "Power On Server" %}</h3>
              </div>
              <div class="modal-body">
                <p>{% trans "Shutdown sends ACPI shutdown signal to guest system. Force shutdown is lost immediately." %}</p>
                <form class="form-horizontal" action="" method="post">{% csrf_token %}
                  <fieldset>
                    <div class="control-group">
                    <label class="control-label">{% trans "Action" %}:</label>
                      <div class="controls">
                         <label class="radio">
                          <input type="radio" name="power" value="shutdown"/>{% trans "Shutdown" %}</label>
                         <label class="radio">
                          <input type="radio" name="power" value="destroy"/>{% trans "Force Shutdown" %}</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <input class="btn btn-primary" type="submit" value="{% trans "Send" %}">
                  </form>
                </div>
            </div> <!-- /powerModal -->

            <div id="deleteModal" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="deleteModalLabel">{% trans "Undefined Server" %}</h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="" method="post">{% csrf_token %}
                  <fieldset>
                    <p>{% trans "Delete HDD image?" %}</p>
                    <div class="control-group">
                      <label class="checkbox">
                        <input type="checkbox" name="image" value="true">{% trans "First device" %}</label>
                    </div>
                  </fieldset>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
                  <input class="btn btn-danger" type="submit" name="delete" value="{% trans "Delete" %}">
                </form>
              </div>
            </div> <!-- /deleteModal -->

          </div><!--/span-->
        </div><!--/row-fluid-->
      </div><!--/container-fluid-->
      <script>
        function open_vnc() { window.open('{% url vnc host_id vname %}?token={{ vm.vname }}','','width=968,height=552') }
      </script>
{% endblock %}